html {
  margin-top: 70px;
}
body {
  background-color: #F6F6F6;
}
.select2-container {
  z-index: 100000000;
}
.select2-dropdown {
  border-color: $other_4;
  border-radius: 0;
}
.select2-results__option {
  padding: 10px 12px;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.025em;
  font-weight: 500;
  color: $secondary;
}
.field:not(:last-child) {
  margin-bottom: 32px;
}
.label {
  font-weight: 900;
  font-size: 15px;
  line-height: 22px;
  color: $secondary;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.input,
.textarea,
input:not([type="file"]),
textarea {
  box-shadow: none;
  border: 1px solid $other_4;
  border-radius: 0;
  height: 49px;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $secondary;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;

  &::placeholder {
    color: $other_1;
  }
}
textarea {
  padding: 12px;
}

.select2-container .select2-search--inline .select2-search__field {
  height: auto;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
  line-height: 40px;
  height: 40px;
  border-radius: 4px;
  border: none;
  background-color: $secondary;
  color: $white;
  font-family: $family-heading;
  font-size: 16px;
  font-weight: 600;
  padding: 0 20px;
  transition: all 0.3s ease-in-out;
  margin-right: 10px;

  &:hover,
  &:focus {
    background-color: $primary;
    color: $white;
    transition: all 0.3s ease-in-out;
  }
}