.dp-table {
  display: table;
  width: 100%;

  .dp-table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
.is-v-centered {
  display: flex;
  align-items: center;
}
.w-500 {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.column.is-offset-0-desktop {
  margin-left: 0;
}