.alignright {
  float: right;
  margin-right: 1rem;
}

.alignleft {
  float: left;
  margin-left: 1rem;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sticky {
  position: relative;
  display: block;
}

.bypostauthor {
  font-size: inherit;
}

.gallery-caption,
.wp-caption-text {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 16px;
  font-style: normal;
}

.wp-caption {
  margin-bottom: 1.25rem;

  &.alignleft {
    margin: 5px 20px 20px 0;
  }

  &.alignright {
    margin: 5px 0 20px 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.wp-caption-text {
  margin: 0;
  text-align: center;
}

// Text meant only for screen readers:
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}