.account-popup {
  max-width: 360px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000001;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  padding: 0 28px;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;

  &:before {
    content: '';
    display: block;
    background-image: url("assets/images/freshmes-symbol.svg");
    background-repeat: no-repeat;
    background-size: 76px 76px;
    background-position: center;
    width: 76px;
    height: 76px;
    position: absolute;
    top: -38px;
    left: 50%;
    transform: translateX(-50%);
  }
  &.is-show {
    opacity: 1;
    visibility: visible;
    backface-visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s ease-in-out;
  }
  &__close {
    position: absolute;
    top: -40px;
    right: -25px;
    color: $white;
    font-size: 35px;
    line-height: 35px;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $other_3;
      transition: all 0.3s ease-in-out;
    }
  }
  &__header {
    padding: 52px 0 27px 0;

    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 25px;
      line-height: normal;
      color: $secondary;
    }
    &__subtitle {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: #6D7682;
    }
  }
  &__footer {
    padding: 17px 0 22px 0;

    &__content {
      font-weight: 500;
      font-size: 13px;
      line-height: 18px;
      color: #8F9AA9;
      text-align: center;

      a {
        color: $primary;

        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }
  }
  &__content {
    overflow: hidden;

    .notification {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      margin-bottom: 12px;
    }
    .special-note {
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      color: #BEBEC7;
      margin-bottom: 16px;
      text-align: center;

      a {
        color: $primary;

        &:hover,
        &:focus {
          color: $secondary;
        }
      }
    }
    .is-select2 {
      width: 100%;
    }
    .select2-container--default .select2-selection--single {
      height: 45px;
      border-radius: 0;
      border-color: $other_4;
      outline: none;
      box-shadow: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 45px;
      padding: 0 32px 0 12px;
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: $other_1;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 43px;

      b {
        border-color: $other_1 transparent transparent transparent;
      }
    }
    .field:not(:last-child) {
      margin-bottom: 12px;
    }
    .label {
      font-weight: 900;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .input,
    .textarea {
      box-shadow: none;
      border-color: $other_4;
      border-radius: 0;
      height: 45px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;
      padding-left: 12px;
      padding-right: 12px;

      &::placeholder {
        color: $other_1;
      }
    }
    &__item {
      opacity: 0;
      visibility: hidden;
      backface-visibility: hidden;
      height: 0;
      transform: translateX(-100vh);
      transition: all 0.5s ease-in-out;

      &.is-show {
        opacity: 1;
        visibility: visible;
        backface-visibility: visible;
        height: auto;
        transform: translateX(0);
        transition: all 0.5s ease-in-out;
      }

      &__or {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #6D7682;
        margin: 12px 0;
        text-align: center;
      }
      &__email,
      &__social,
      &__sign-up {
        height: 56px;
        border-radius: 5px;
        border: none;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 16px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          transition: all 0.3s ease-in-out;
        }
      }
      &__email,
      &__sign-up {
        background-color: $primary;
        color: $white;

        &:hover,
        &:focus {
          background-color: $secondary;
          color: $white;
        }
      }
      &__social {
        text-align: left;
        justify-content: left;
        color: $white;
        padding: 0 10px 0 3px;
        margin-bottom: 12px;

        span {
          vertical-align: middle;
          display: inline-block;

          &.icon {
            position: relative;
            width: 50px;
            height: 50px;
            text-align: center;
            margin-left: 0 !important;
            margin-right: 20px !important;

            i {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              font-size: 31px;
            }
          }
        }
        &--facebook {
          background-color: #274D91 !important;
        }
        &--google {
          background-color: #4285F4 !important;

          span.icon {
            background-color: $white;
            color: #4285F4;
            border-radius: 5px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
          }
        }
        &:hover,
        &:focus {
          background-color: $secondary;
          color: $white;
        }
      }
    }
  }
}