.freshmes-card {
  display: block;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #FFF;
  padding: 33px 10px 17px 10px;
  font-size: 0;
  line-height: 0;
  transition: all 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  span {
    display: block;

    &.card-icon {
      color: #A3B1C3;
      font-size: 28px;
      margin-bottom: 8px;
    }
    &.card-title {
      font-family: $family-heading;
      font-size: 20px;
      line-height: 24px;
      color: #3A405B;
      font-weight: 700;
    }
    &.card-subtitle {
      font-family: $family-heading;
      font-size: 13px;
      line-height: 23px;
      color: #A3B1C3;
      font-weight: 600;
    }
  }
}
.freshmes-home-dashboard {
  font-family: $family-heading;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: $other_1;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-top: 35px;

  &:hover,
  &:focus {
    color: $secondary;
    transition: all 0.3s ease-in-out;
  }
}