.content-filters {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  padding: 33px 0;
  background-color: $white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.10);
  font-size: 0;
  line-height: 0;
  border-top: 1px solid $other_3;
  z-index: 1000;

  &__filter {
    max-width: 240px;
    width: 100%;
    display: inline-block;
    margin: 0 12px 12px 12px;
  }
  .is-select2 {
    width: 100%;
  }
  .select2-container {
    width: 100% !important;
  }
  .select2-container--default .select2-selection--single {
    height: 40px;
    border-radius: 0;
    border-color: #ECEAED;
    outline: none;
    box-shadow: none;

    .select2-selection__clear {
      float: none;
      position: absolute;
      top: 0;
      color: $primary;
      right: 25px;
    }
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding: 0 32px 0 12px;
    font-size: 15px;
  }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $secondary;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;

    b {
      border-color: $other_1 transparent transparent transparent;
    }
  }
  .select2-container--default .select2-selection--multiple {
    min-height: 40px;
    border-radius: 0;
    border-color: $other_4;

    .select2-selection__rendered {
      font-size: 0;
      line-height: 0;
      padding: 0 12px;
      position: relative;
      top: 8px;
    }
  }
  .select2-container .select2-search--inline {
    width: 100%;
  }
  .select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $secondary;
  }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 15px;
    line-height: 22px;
    font-weight: 500;
    padding: 10px;
    margin: 5px;
    background: $secondary;
    color: $white;
    border: none;
    border-radius: 0;
    display: inline-block;

    .select2-selection__choice__remove {
      color: $white;
      display: inline-block;
      margin-right: 10px;
    }
  }
}