.form-card {
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  border-radius: 5px;
  padding: 0 45px;

  &__header {
    padding: 60px 0 57px 0;
    text-align: center;

    &__percentage {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 40px;
      line-height: normal;
      color: $secondary;
      margin-bottom: 18px;
    }
    &__percentage-fill {
      position: relative;
      max-width: 500px;
      width: 100%;
      margin: 0 auto;
      height: 10px;
      background-color: $other_3;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: $primary;
        z-index: 2;
      }
      &--2:before {
        width: 2%;
      }
      &--20:before {
        width: 20%;
      }
      &--40:before {
        width: 40%;
      }
      &--60:before {
        width: 60%;
      }
      &--80:before {
        width: 80%;
      }
      &--100:before {
        width: 100%;
      }
    }
  }
  &__footer {
    padding: 44px 0 77px 0;

    .button {
      height: 50px;
      border: none;
      border-radius: 5px;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 16px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        transition: all 0.3s ease-in-out;
      }
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      &.form-card__footer__continue,
      &.form-card__footer__preview {
        background-color: $primary;
        color: $white;

        &:hover,
        &:focus {
          background-color: $secondary;
          color: $white;
        }
      }
      &.form-card__footer__previous {
        color: $other_1;

        &:hover,
        &:focus {
          color: $primary;
        }
      }
    }
  }
  &__content {
    .columns:not(:last-child) {
      margin-bottom: 0;
    }
    .field:not(:last-child) {
      margin-bottom: 32px;
    }
    .label {
      font-weight: 900;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    .input,
    .textarea {
      box-shadow: none;
      border-color: $other_4;
      border-radius: 0;
      height: 49px;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;
      padding-left: 12px;
      padding-right: 12px;

      &::placeholder {
        color: $other_1;
      }
    }
    .special-label {
      font-weight: 900;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;
      margin: 50px 0 13px 0;
      text-align: center;
    }
    .special-note {
      text-align: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 23px;
      letter-spacing: 0.025em;
      color: $other_3;
    }
    label.is-file {
      position: relative;
      font-size: 0;
      line-height: 0;
      display: block;
      text-align: center;

      .note {
        display: block;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.025em;
      }
      input {
        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      .image-container {
        display: block;
        width: 100%;
        height: 200px;
        border: 1px solid $other_4;
        position: relative;
        margin: 0 auto;

        .image-placeholder {
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .center {
          display: inline-block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          i {
            display: block;
            font-size: 51px;
            color: $other_2;
          }
          span.image-name {
            display: block;
            font-family: $family-sans-serif;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: $other_1;
            margin-top: 9px;
          }
        }
      }
      &.is-file-rounded {
        .image-container {
          width: 132px;
          height: 132px;
          border-radius: 50%;

          .image-placeholder {
            border-radius: 50%;
          }
          span.center {
            i {
              font-size: 30px;
            }
            span.image-name {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
      }
    }
    .is-select2 {
      width: 100%;
    }
    .select2-container--default .select2-selection--multiple {
      min-height: 49px;
      border-radius: 0;
      border-color: $other_4;

      .select2-selection__rendered {
        font-size: 0;
        line-height: 0;
        padding: 0 12px;
        position: relative;
        top: 13px;
      }
    }
    .select2-container .select2-search--inline {
      width: 100%;
    }
    .select2-container--default .select2-search--inline .select2-search__field {
      margin: 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      padding: 10px;
      margin: 5px;
      background: $secondary;
      color: $white;
      border: none;
      border-radius: 0;
      display: inline-block;

      .select2-selection__choice__remove {
        color: $white;
        display: inline-block;
        margin-right: 10px;
      }
    }
    .note {
      font-size: 12px;
      line-height: 23px;
      letter-spacing: 0.025em;
      font-weight: 700;
      color: $other_3;
      margin-top: 10px;
      padding: 0 13px;
    }
  }
}