.member {
  font-size: 0;
  line-height: 0;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  padding: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__owner {
    padding: 19px 0 12px 0;
    font-family: $family-heading;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #6D7682;
    border-bottom: 1px solid #D6DEE6;
    margin-bottom: 23px;
  }
  &--page {
    padding: 30px 0 15px 0;
  }
  &--network {
    padding: 0 0 15px 0;
    margin-bottom: 38px;
  }
  &__content {
    padding: 0 10px;
    flex: 1;
  }
  &__company {
    margin-top: 7px;
    margin-bottom: 9px;
    font-family: $family-heading;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: $primary;
  }
  &__box {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid $other_1;
    background-color: transparent;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  &.is-selected {
    .member__box {
      background-color: $primary;
      border-color: $primary;
      transition: all 0.3s ease-in-out;
    }
  }
  &__image {
    width: 118px;
    height: 118px;
    margin: 0 auto 14px auto;

    img {
      border-radius: 50%;
    }
  }
  &__view-member {
    font-family: $family-heading;
    font-weight: 600;
    font-size: 11px;
    line-height: 17px;
    color: #C7D0DB;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    margin-top: 10px;

    &:hover,
    &:focus {
      color: $secondary;
      transition: all 0.3s ease-in-out;
    }
  }
  &__name {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $secondary;
    margin-bottom: 3px;
  }
  &__subtitle {
    font-family: $family-heading;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: $other_1;

    a {
      color: $other_1;
    }
  }
  .button {
    border: 1px solid $primary;
    background-color: $white;
    color: $primary;

    &:hover,
    &:focus {
      border-color: $primary;
      background-color: $primary;
      color: $white;
    }
  }
}

.freshmes-member {
  font-size: 0;
  line-height: 0;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    position: relative;
    text-align: center;

    &__featured {
      width: 75px;
      height: 22px;
      border: 1px solid #D6DEE6;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 20px;
      font-weight: 700;
      position: absolute;
      top: 20px;
      left: 25px;
      color: #D6DEE6;
    }
    &__image {
      background-color: $black;

      img {
        opacity: 0.7;
      }
      &--no-image {
        height: 230px;
        background-color: $secondary;
      }
    }
    &__author {
      position: absolute;
      left: 13px;
      bottom: -15px;
      z-index: 10;
      font-size: 0;
      line-height: 0;
      display: block;

      &__image {
        margin-right: 7px;
        display: inline-block;
        vertical-align: bottom;

        img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          border: 1px solid $other_1;
        }
      }
      &__by {
        position: relative;
        bottom: 17px;
        font-size: 10px;
        line-height: normal;
        font-weight: 500;
        color: #BDBDC6;
        display: inline-block;
        vertical-align: bottom;
      }
      &--network {
        text-align: right;
        top: 9px;
        right: 11px;

        .freshmes-member__header__author__image {
          margin-right: 0;
          margin-left: 7px;
        }
      }
    }
    &__brand {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
      z-index: 10;
      font-size: 0;
      line-height: 0;
      text-align: left;
      padding: 0 25px;

      &:before {
        display: block;
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 14px;
        background-color: $secondary;
        opacity: 0.8;
        z-index: 1;
        height: 25px;
      }
      &__image {
        position: relative;
        z-index: 2;
        margin-right: 7px;
        display: inline-block;
        vertical-align: bottom;
        background-color: $white;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 1px solid $other_1;

        img {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__by {
        position: relative;
        bottom: 17px;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 12px;
        line-height: normal;
        color: $other_1;
        display: inline-block;
        vertical-align: bottom;
        z-index: 2;
      }
    }
    &--no-image {
      .freshmes-member__header__brand {
        bottom: 0;
        padding: 5px 25px;
      }
      .freshmes-member__header__brand:before,
      .freshmes-member__header__brand .freshmes-member__header__brand__image {
        display: none;
      }
      .freshmes-member__header__brand .freshmes-member__header__brand__by {
        bottom: 0;
      }
    }
  }
  &__content {
    padding: 33px 19px 19px 19px;

    &__categories {
      font-size: 0;
      line-height: 0;
      margin-bottom: 6px;

      &__category {
        display: inline-block;
        vertical-align: middle;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $primary;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $secondary;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    &__job-title {
      font-family: $family-heading;
      font-size: 12px;
      line-height: 14px;
      color: $primary;
      font-weight: 600;
    }
    &__tagline {
      font-family: $family-heading;
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      color: $other_1;
      max-width: 300px;
    }
    &__location {
      font-family: $family-heading;
      font-size: 11px;
      line-height: 17px;
      font-weight: 600;
      color: $other_1;

      span {
        margin-right: 3px;
      }
    }
  }
  &__footer {
    padding: 0 19px 23px 19px;
    margin-top: auto;

    &__button {
      height: 31px;
      border-color: $primary;
      border-radius: 4px;
      background-color: $white;
      font-size: 15px;
      font-weight: 700;
      color: $primary;
      padding: 0 10px;
      min-width: 123px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
    &__meta {
      font-size: 0;
      line-height: 0;

      &__item {
        display: inline-block;
        vertical-align: middle;
        color: $other_3;
        font-size: 21px;
        line-height: 21px;
        margin-right: 9px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}