.navigator-toggle {
  position: fixed;
  top: 70vh;
  left: 10px;
  z-index: 100;
  width: 78px;
  height: 78px;
  background: url("assets/images/freshmes-symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 78px;
  box-shadow: none;
  border-radius: 0;
  text-shadow: none;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;

  @media only screen and (max-width: 1400px) {
    left: 6px;
  }
  .navigator-abs & {
    position: absolute;
  }
}
.navigator-popup {
  position: fixed;
  z-index: 1000001;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.15s ease-in-out;

  &.is-show {
    opacity: 1;
    visibility: visible;
    backface-visibility: visible;
    transition: all 0.5s ease-in-out;
  }
  &__close {
    display: block;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    top: -25px;
    right: -20px;
    color: $other_4;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $primary;
      transition: all 0.3s ease-in-out;
    }
  }
  &__header {
    text-align: center;

    &__title {
      font-family: $family-heading;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      color: $secondary;
    }
    &__view-all,
    &__add-new {
      font-family: $family-heading;
      font-size: 15px;
      line-height: 22px;
      color: $other_1;
      font-weight: 500;
      margin-top: 5px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $primary;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__footer {
    &__back,
    &__close {
      font-family: $family-heading;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: $other_1;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $secondary;
        transition: all 0.3s ease-in-out;
      }
    }
    .button {
      border: 1px solid $primary;
      background-color: $white;
      border-radius: 4px;
      height: 40px;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 16px;
      color: $primary;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__content {
    max-height: calc(80vh - 205px);
    overflow: hidden;
    overflow-y: auto;

    .field:not(:last-child) {
      margin-bottom: 15px;
    }
    .input, .textarea {
      border-radius: 0;
      border: 1px solid #ECEAED;
      height: 40px;
      padding: 0 12px;
      box-shadow: none;
      background-color: $white;
      color: $secondary;

      &::placeholder {
        color: $secondary;
      }
    }
    .field.is-quill .control {
      border: 1px solid #ECEAED;
      padding: 30px;
      position: relative;

      .ql-container.ql-snow {
        border: none;
        padding-top: 20px;
      }
      .ql-editor {
        border: none;
        padding: 0;
        min-height: 260px;
        font-weight: 500;
        font-family: $family-sans-serif;
        font-size: 15px;
        line-height: 22px;
        color: $secondary;

        p,
        ul,
        ol,
        img {
          margin-bottom: 22px;
        }
        h2, h3 {
          font-family: $family-heading;
          font-weight: 600;
          margin-bottom: 22px;
        }
        h2 {
          font-size: 30px;
          line-height: normal;
        }
        h3 {
          font-size: 26px;
          line-height: normal;
        }
        a {
          color: $primary;

          &:hover,
          &:focus {
            color: $secondary;
          }
        }
        img {
          display: block;
          margin: 0 auto;
          text-align: center;
          max-width: 80%;
        }
      }
      .ql-toolbar.ql-snow {
        border: none;
        padding: 0;
        text-align: center;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background-color: $white;

        .ql-formats {
          margin-right: 20px;
          position: relative;

          &:after {
            position: absolute;
            top: 50%;
            right: -10px;
            width: 1px;
            height: 26px;
            background-color: $secondary;
            transform: translateY(-50%);
          }
          &:last-child {
            margin-right: 0;
          }
          &:last-child:after {
            display: none;
          }
        }
        button {
          width: 28px;
          height: 24px;
          font-size: 15px;
          line-height: 24px;
          text-align: center;
          padding: 0;
        }
      }
    }
    .field.is-image-field {
      margin: 0 0 20px 0;

      label.label {
        position: relative;
        max-width: 200px;
        width: 100%;
        height: 125px;
        border: 1px solid #ECEAED;
        font-size: 0;
        line-height: 0;
        display: block;
        margin: 0 auto;

        input {
          width: 0;
          height: 0;
          opacity: 0;
          visibility: hidden;
          backface-visibility: hidden;
          position: absolute;
          top: 0;
          left: 0;
        }
        .file-image {
          position: absolute;
          top: 5px;
          left: 5px;
          right: 5px;
          bottom: 5px;
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
        .file-no-image {
          display: block;
          position: absolute;
          top: 50%;
          left: 15px;
          right: 15px;
          transform: translateY(-50%);
          text-align: center;

          i {
            display: block;
            font-size: 28px;
            line-height: 28px;
            color: $other_1;
            margin: 0 auto 15px auto;
          }
          .file-no-image-text {
            font-size: 15px;
            line-height: 22px;
            font-weight: 500;
            color: $primary;
          }
        }
      }
    }
    .textarea {
      padding: 12px;
    }
    .is-select2 {
      width: 100%;
    }
    .select2-container {
      width: 100% !important;
    }
    .select2-container--default .select2-selection--single {
      height: 40px;
      border-radius: 0;
      border-color: #ECEAED;
      outline: none;
      box-shadow: none;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 40px;
      padding: 0 32px 0 12px;
    }
    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      color: $secondary;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
      height: 38px;

      b {
        border-color: $other_1 transparent transparent transparent;
      }
    }
    .select2-container--default .select2-selection--multiple {
      min-height: 49px;
      border-radius: 0;
      border-color: $other_4;

      .select2-selection__rendered {
        font-size: 0;
        line-height: 0;
        padding: 0 12px;
        position: relative;
        top: 13px;
      }
    }
    .select2-container .select2-search--inline {
      width: 100%;
    }
    .select2-container--default .select2-search--inline .select2-search__field {
      margin: 0;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: $secondary;
    }
    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      padding: 10px;
      margin: 5px;
      background: $secondary;
      color: $white;
      border: none;
      border-radius: 0;
      display: inline-block;

      .select2-selection__choice__remove {
        color: $white;
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  &[data-popup-id="create"] {
    max-width: 282px;
    .navigator-popup__header {
      padding: 28px 42px 33px 42px;
    }
    .navigator-popup__footer {
      padding: 22px 19px 15px 19px;
    }
    .navigator-popup__content {
      position: relative;

      #navigator-create__image {
        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      ul.navigator-create {
        font-size: 0;
        line-height: 0;

        li {
          display: block;

          a {
            display: block;
            padding: 14px 42px;
            transition: all 0.3s ease-in-out;
            position: relative;

            i,
            span,
            button.button {
              display: inline-block;
              vertical-align: middle;
            }
            i {
              color: #8F9AA9;
              font-size: 17px;
              line-height: 22px;
              margin-right: 17px;
            }
            span {
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
              color: $secondary;
            }
            button.button {
              padding: 0;
              background: transparent;
              position: absolute;
              top: 50%;
              right: 20px;
              transform: translateY(-50%);
            }
            &:hover,
            &:focus {
              background-color: $other_4;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
  &[data-popup-id="event"],
  &[data-popup-id="product"],
  &[data-popup-id="post"],
  &[data-popup-id="network"] {
    max-width: 382px;

    .navigator-popup__header {
      padding: 28px 38px 23px 28px;
    }
    .navigator-popup__content {
      padding: 0 38px;
    }
    .navigator-popup__footer {
      padding: 35px 20px;
    }
  }
  &[data-popup-id="post"] {
    max-width: 589px;

    &[data-popup-type="all"] {
      max-width: 382px;
    }
  }
  .navigator-popup__content__list {
    font-size: 0;
    line-height: 0;
    display: block;

    &__item {
      display: block;
      padding: 10px 0;
      position: relative;

      > span,
      > a {
        display: inline-block;
        vertical-align: middle;
      }
      &__icon {
        font-size: 20px;
        line-height: normal;
        color: $other_1;
        margin-right: 10px;
      }
      &__title {
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        color: $secondary;
        word-break: break-word;
      }
      &__actions-toggle {
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 20px;
        line-height: 24px;
        color: $secondary;
        transform: translateY(-50%);
        width: 24px;
        text-align: center;
        height: 24px;
      }
      &__actions-list {
        position: fixed;
        top: 0;
        right: -130px;
        background-color: $white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
        padding: 15px 20px;
        max-width: 125px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;
        transition: all 0.3s ease-in-out;

        &.is-show {
          opacity: 1;
          visibility: visible;
          backface-visibility: visible;
          transition: all 0.3s ease-in-out;
        }
        &__item {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0;
          }
          .button {
            border: 1px solid $primary;
            background-color: $white;
            border-radius: 4px;
            height: 40px;
            font-family: $family-heading;
            font-weight: 600;
            font-size: 16px;
            color: $primary;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus {
              background-color: $primary;
              color: $white;
              transition: all 0.3s ease-in-out;
            }
            &.navigator-popup__content__list__item__actions-list__item__publish {
              background-color: $primary;
              color: $white;

              &:hover,
              &:focus {
                background-color: $secondary;
                border-color: $secondary;
                color: $white;
              }
            }
            &.navigator-popup__content__list__item__actions-list__item__edit {
              background-color: $green;
              border-color: $green;
              color: $white;

              &:hover,
              &:focus {
                background-color: $secondary;
                border-color: $secondary;
                color: $white;
              }
            }
            &.navigator-popup__content__list__item__actions-list__item__delete {
              background-color: $red;
              border-color: $red;
              color: $white;

              &:hover,
              &:focus {
                background-color: $secondary;
                border-color: $secondary;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}