.network {
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  height: 100%;
  display: flex;
  flex-direction: column;

  &__content {
    flex: 1;
    padding: 63px 30px 12px 30px;
    text-align: center;

    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      color: #6D7682;
    }
  }
  &__header {
    position: relative;
    font-size: 0;
    line-height: 0;

    &__category {
      background-color: rgba(236, 0, 140, 0.90);
      color: $white;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 11px;
      line-height: 28px;
      padding: 0 23px;
      position: absolute;
      top: 8px;
      left: 8px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $white;
        opacity: 0.8;
        transition: all 0.3s ease-in-out;
      }
    }
    &__image {
      background-color: $secondary;

      img {
        opacity: 0.35;
      }
      &--no-image {
        height: 220px;
      }
    }
    &__logo {
      position: absolute;
      bottom: -49px;
      left: 50%;
      transform: translateX(-50%);
      width: 98px;
      height: 98px;
      border: 1px solid $other_2;
      background-color: $white;

      img {
        max-width: 68px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &__title {
      font-family: $family-heading;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: $white;
      position: absolute;
      top: 50%;
      left: 30px;
      right: 30px;
      text-align: center;
      transform: translateY(-50%);
    }
  }
  &__footer {
    padding: 0 30px 21px 30px;

    .button {
      height: 40px;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 16px;
      color: $primary;
      border-color: $primary;
      background-color: $white;
      padding: 0 25px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
    &__members {
      margin-top: 12px;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      color: $other_1;
    }
  }
}