.freshmes-post {
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    position: relative;
    text-align: center;

    &__featured {
      padding: 0 12px;
      height: 22px;
      border: 1px solid #D6DEE6;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 20px;
      font-weight: 700;
      position: absolute;
      top: 20px;
      left: 25px;
      color: #D6DEE6;
    }
    &__author {
      position: absolute;
      left: 13px;
      bottom: -15px;
      z-index: 10;
      font-size: 0;
      line-height: 0;

      &__image {
        margin-right: 7px;
        display: inline-block;
        vertical-align: bottom;

        img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          border: 1px solid $other_1;
        }
      }
      &__by {
        position: relative;
        bottom: 5px;
        font-size: 10px;
        line-height: normal;
        font-weight: 500;
        color: #BDBDC6;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
  &__content {
    padding: 33px 19px 19px 19px;

    &__categories {
      font-size: 0;
      line-height: 0;
      margin-bottom: 6px;

      &__category {
        display: inline-block;
        vertical-align: middle;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: $primary;
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $secondary;
      margin-bottom: 5px;
    }
    &__excerpt {
      font-size: 15px;
      line-height: 22px;
      color: $other_1;
    }
  }
  &__footer {
    padding: 0 19px 23px 19px;
    margin-top: auto;

    &__button {
      height: 31px;
      border-color: $primary;
      border-radius: 4px;
      background-color: $white;
      font-size: 15px;
      font-weight: 700;
      color: $primary;
      padding: 0 10px;
      min-width: 123px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
    &__meta {
      font-size: 0;
      line-height: 0;

      &__item {
        display: inline-block;
        vertical-align: middle;
        color: $other_3;
        font-size: 21px;
        line-height: 21px;
        margin-right: 9px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}