.preview-popup {
  position: fixed;
  z-index: 1000001;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 282px;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: all 0.15s ease-in-out;

  &.is-show {
    opacity: 1;
    visibility: visible;
    backface-visibility: visible;
    transition: all 0.5s ease-in-out;
  }

  &__close {
    display: block;
    font-size: 22px;
    line-height: 22px;
    position: absolute;
    top: -25px;
    right: -20px;
    color: $other_4;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $primary;
      transition: all 0.3s ease-in-out;
    }
  }
  &__header {
    padding: 10px;
    text-align: center;

    &__title {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      color: $white;
    }
  }
  &__footer {
    padding: 0 10px;

    &__view,
    &__edit,
    &__close {
      font-family: $family-heading;
      font-weight: 600;
      font-size: 15px;
      line-height: 22px;
      color: $other_1;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &--network {
    .preview-popup__content {
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
      padding: 28px 38px;

      &__network-name {
        font-family: $family-heading;
        font-size: 18px;
        line-height: normal;
        font-weight: 700;
        border-bottom: 1px solid #ECECEC;
        padding-bottom: 10px;
        margin-bottom: 10px;
      }
    }
  }
}