.freshmes-product {
  font-size: 0;
  line-height: 0;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    position: relative;
    text-align: center;
    background-color: #3A405B;

    &__featured {
      padding: 0 12px;
      height: 22px;
      border: 1px solid #D6DEE6;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 20px;
      font-weight: 700;
      position: absolute;
      top: 20px;
      left: 25px;
      color: #D6DEE6;
    }
    &__on-sale {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $primary;
      font-size: 10px;
      line-height: 21px;
      letter-spacing: 0.025em;
      color: $other_3;
      padding: 0 23px;
      z-index: 10;
    }
    &__image {
      opacity: 0.75;
    }
    &__author {
      position: absolute;
      left: 13px;
      bottom: -27px;
      z-index: 10;

      &__image {
        margin-right: 7px;
        display: inline-block;
        vertical-align: bottom;

        img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          border: 1px solid $other_1;
        }
      }
      &__by {
        position: relative;
        bottom: 8px;
        font-size: 10px;
        line-height: normal;
        font-weight: 500;
        color: #BDBDC6;
        display: inline-block;
        vertical-align: bottom;
      }
    }
  }
  &__content {
    position: relative;
    padding: 37px 70px 19px 19px;

    &__location {
      font-family: $family-heading;
      font-weight: 600;
      font-size: 11px;
      line-height: 17px;
      color: $other_1;
      margin-bottom: 9px;
    }
    .dp-table {
      display: table;
      width: 100%;

      .dp-table-cell {
        display: table-cell;
        vertical-align: middle;
      }
    }
    &__date {
      width: 80px;
      position: absolute;
      top: -5px;
      right: 10px;

      &__day {
        font-family: $family-heading;
        font-weight: 700;
        color: $primary;
        font-size: 34px;
        line-height: normal;
      }
      &__year,
      &__month {
        font-family: $family-heading;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
        color: $secondary;
      }
    }
    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $secondary;
      margin-bottom: 5px;
    }
    &__price {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 15px;
      line-height: 17px;
      color: $primary;

      del,
      ins {
        display: inline-block;
        vertical-align: middle;
      }
      del {
        color: #BDBDC6;
        margin-right: 10px;
      }
      ins {
        color: $primary;
        text-decoration: none;
      }
    }
    &__description {
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #6D7682;
      margin-top: 10px;
    }
  }
  &__footer {
    padding: 0 19px 23px 19px;
    margin-top: auto;

    &__button {
      height: 31px;
      border-color: $primary;
      border-radius: 4px;
      background-color: $white;
      font-size: 15px;
      font-weight: 700;
      color: $primary;
      padding: 0 10px;
      min-width: 123px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
    &__view {
      display: inline-block;
      font-size: 0;
      line-height: 0;
      color: #BDBDC6;
      transition: all 0.3s ease-in-out;

      > span {
        display: inline-block;
        vertical-align: middle;
      }
      &__icon {
        margin-right: 5px;
        font-size: 16px;
        line-height: 20px;
      }
      &__label {
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
      }
      &:hover,
      &:focus {
        color: $secondary;
        transition: all 0.3s ease-in-out;
      }
    }
    &__meta {
      font-size: 0;
      line-height: 0;

      &__item {
        display: inline-block;
        vertical-align: middle;
        color: $other_3;
        font-size: 21px;
        line-height: 21px;
        margin-right: 9px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &.is-event {
    .freshmes-product__header__author__by {
      vertical-align: top;
      bottom: auto;
      top: 8px;
      color: #D6DEE6;
    }
  }
}