.share-popup {
  max-width: 360px;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  z-index: 1000001;
  background-color: $white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  padding: 0 28px;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;

  &.is-show {
    opacity: 1;
    visibility: visible;
    backface-visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s ease-in-out;
  }
  &__close {
    position: absolute;
    top: -40px;
    right: -25px;
    color: $white;
    font-size: 35px;
    line-height: 35px;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: $other_3;
      transition: all 0.3s ease-in-out;
    }
  }
  &__header {
    padding: 35px 0 0 0;
    border-bottom: 1px solid #F0F2F7;

    &__title {
      font-family: $family-heading;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      color: $secondary;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__content {
    padding: 35px 0;

    &__item {
      font-size: 35px;
      line-height: 35px;
      color: $secondary;

      &--facebook {
        &:hover,
        &:focus {
          color: #3b5998;
        }
      }
      &--twitter {
        &:hover,
        &:focus {
          color: #1da1f2;
        }
      }
      &--linkedin {
        &:hover,
        &:focus {
          color: #007bb5;
        }
      }
    }
  }
}