.freshmes-story {
  position: relative;
  font-size: 0;
  line-height: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  height: 100%;

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: $secondary;
    opacity: 0.85;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3;
  }
  &__header,
  &__content,
  &__footer {
    position: relative;
    z-index: 5;
  }
  &__header {
    padding: 14px 20px 33px 20px;

    &__author {
      z-index: 10;
      font-size: 0;
      line-height: 0;
      display: block;

      &__image {
        margin-right: 7px;
        display: inline-block;
        vertical-align: middle;

        img {
          width: 54px;
          height: 54px;
          border-radius: 50%;
          border: 1px solid $other_1;
        }
      }
      &__by {
        font-size: 15px;
        line-height: 23px;
        font-weight: 500;
        color: $white;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__categories {
      font-size: 0;
      line-height: 0;
      margin-bottom: 6px;

      &__category {
        display: inline-block;
        vertical-align: middle;
        font-weight: 500;
        font-size: 15px;
        line-height: 23px;
        margin-right: 5px;
        color: $white;

        span {
          color: $primary;
        }
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__content {
    text-align: center;
    padding: 0 20px;

    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: $white;
      margin-bottom: 13px;
    }
    .button {
      border: 1px solid $white;
      background-color: transparent;
      color: $white;
      min-width: 165px;

      &:hover,
      &:focus {
        border-color: $white;
        background-color: $white;
        color: $secondary;
      }
    }
  }
  &__footer {
    padding: 13px 28px 22px 28px;
    margin-top: auto;

    &__meta {
      font-size: 0;
      line-height: 0;

      &__item {
        display: inline-block;
        vertical-align: middle;
        color: $other_3;
        font-size: 21px;
        line-height: 21px;
        margin-right: 9px;

        &:last-child {
          margin-right: 0;
        }
        &:hover,
        &:focus {
          color: $primary;
        }
      }
    }
  }
}