.site-footer {
  background-color: #111111;
  padding: 41px 0 36px;

  &__copyright {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 20px;
    color: $white;
  }
  #menu-footer-menu {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    border-left: 1px solid $white;
    padding-left: 10px;
    margin-left: 5px;

    > li {
      display: inline-block;
      vertical-align: middle;
      border-right: 1px solid $white;
      padding-right: 10px;
      margin-right: 10px;

      &:last-of-type {
        border-right: none;
        padding-right: 0;
        margin-right: 0;
      }
      > a {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: $other_3;
          transition: all 0.3s ease-in-out;
        }
      }
      &.current-menu-item {
        > a {
          color: $other_3;
        }
      }
    }
  }
}