.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 17px 0;
  background-color: $white;
  font-size: 0;
  line-height: 0;
  z-index: 10000;

  .dp-table {
    .dp-table-cell {
      &:first-of-type {
        width: 185px;
      }
    }
  }
  &__site-logo {

  }
  &__site-title {
    a {
      color: $cyan;
    }
  }
  &__site-search-form {
    border-left: 1px solid $other_3;
    padding-left: 21px;
    margin-left: 21px;

    input {
      display: block;
      border: none;
      background-color: $white;
      box-shadow: none;
      font-weight: 500;
      font-size: 16px;
      color: $secondary;
      height: 36px;
      padding: 0;
      margin: 0;
      min-width: 200px;
      outline: none;

      &::placeholder {
        color: $other_3;
      }
    }
  }
  &__site-navigation {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;

    .button {
      line-height: 40px;
      height: 40px;
      border-radius: 4px;
      border: none;
      background-color: $secondary;
      color: $white;
      font-family: $family-heading;
      font-size: 16px;
      font-weight: 600;
      padding: 0 20px;
      transition: all 0.3s ease-in-out;
      margin-right: 10px;

      &:hover,
      &:focus {
        background-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
    .site-header__primary-navigation {
      > .menu-item {
        position: relative;
        display: inline-block;

        > a {
          display: block;
          font-size: 16px;
          line-height: 30px;
          font-weight: 500;
          padding: 0 14px;
          transition: all 0.3s ease-in-out;
          border-right: 1px solid $other_3;
          color: $other_1;

          &:hover {
            transition: all 0.3s ease-in-out;
          }
        }
        &:first-of-type > a {
          padding-left: 0;
        }
        &:last-of-type > a {
          margin-right: 14px;
        }
        &.menu-item-has-children {
          > a {
            position: relative;

            &:after {
              display: inline-block;
              vertical-align: middle;
              content: '\f0d7';
              font-family: "Font Awesome 5 Pro";
              font-size: 16px;
              color: $other_3;
              font-weight: 700;
              margin-left: 11px;
              transition: all 0.3s ease-in-out;
            }
          }
          > ul.sub-menu {
            position: absolute;
            top: calc(100% + 20px);
            left: 0;
            width: 282px;
            text-align: left;
            box-shadow: 0 4px 10px rgba(0,0,0,0.10);
            opacity: 0;
            visibility: hidden;
            backface-visibility: hidden;
            transition: all 0.15s ease-in-out;
            background-color: $white;
            padding-bottom: 19px;
            z-index: 100;

            > .menu-item {
              position: relative;
              display: block;

              > a {
                display: block;
                font-size: 15px;
                line-height: 22px;
                font-family: $family-sans-serif;
                font-weight: 500;
                color: $secondary;
                padding: 15px 41px;
                transition: all 0.3s ease-in-out;

                i {
                  display: inline-block;
                  margin-right: 11px;
                  font-size: 16px;
                }
              }
              &:not(.is-item-title) > a:hover {
                transition: all 0.3s ease-in-out;
                color: $primary;
              }
              &.is-item-title {
                text-align: center;

                > a {
                  display: inline-block;
                  font-family: $family-heading;
                  font-size: 20px;
                  line-height: 24px;
                  color: $secondary;
                  font-weight: 700;
                  cursor: text;
                  padding: 34px 41px 21px 41px;
                }
              }
            }
          }
          &:nth-last-of-type(1),
          &:nth-last-of-type(2) {
            > ul.sub-menu {
              left: auto;
              right: 0;
            }
          }
          &.is-active-sub-menu {
            > a:after {
              transform: rotate(180deg);
              transition: all 0.3s ease-in-out;
            }
            > ul.sub-menu {
              opacity: 1;
              visibility: visible;
              backface-visibility: visible;
              transition: all 0.15s ease-in-out;
            }
          }
        }
      }
    }
  }
  &__site-description {
    color: $grey-light;
  }
  &__site-button {
    display: inline-block;
    vertical-align: middle;

    &.is-account-toggle,
    &.is-brand-publish,
    &.is-get-premium,
    &.is-post-type-publish,
    &.is-post-type-edit {
      line-height: 40px;
      height: 40px;
      border-radius: 4px;
      border: none;
      background-color: $primary;
      color: $white;
      font-family: $family-heading;
      font-size: 16px;
      font-weight: 600;
      transition: all 0.3s ease-in-out;
      padding: 0 20px;

      &:hover,
      &:focus {
        background-color: $secondary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
    &.is-get-premium,
    &.is-post-type-edit {
      background-color: $white;
      border: 1px solid $primary;
      color: $primary;

      &:hover,
      &:focus {
        background-color: $secondary;
        border-color: $secondary;
        color: $white;
      }
    }
    &.is-brand-profile {
      img,
      span {
        display: inline-block;
        vertical-align: middle;
      }
      img {
        width: 36px;
        height: 36px;
        margin-right: 10px;
        border-radius: 50%;
      }
      span {
        font-size: 16px;
        font-weight: 500;
        line-height: 36px;
        color: $other_1;
      }
    }
    &.is-post-type-publish {
      margin-left: 20px;
      margin-right: 12px;
    }
  }
}