.freshmes-home-header {
  position: relative;
  max-height: 760px;
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .container {
    position: absolute;
    max-width: 734px;
    width: 100%;
    padding: 0 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h1,
  h2 {
    color: #FFF;
    display: block;
  }
  h1 {
    font-family: $family-heading;
    font-size: 65px;
    line-height: normal;
    letter-spacing: 0.020em;
    font-weight: 700;
  }
  h2 {
    font-family: $family-heading;
    font-weight: 500;
    font-size: 23px;
    line-height: 35px;
  }
  .search_jobs--frontpage-facetwp {
    max-width: 709px;
    width: 100%;
    margin: 65px auto 0 auto;

    .facetwp-facet {
      border: none;
      background-color: transparent;

      input {
        border-radius: 5px;
        background-color: #FFFFFF;
        height: 70px;
        font-family: $family-sans-serif;
        font-size: 20px;
        font-weight: 500;
        color: #A3B1C3;
      }
    }
    .search-submit {
      background-color: #EC008C;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 700;
      color: #FFF;
      margin-left: 20px;
      padding: 0 25px;

      svg,
      span {
        display: inline-block;
        vertical-align: middle;
      }
      svg {
        g {
          fill: #D7D8E5;
        }
      }
      span {
        margin-left: 30px;
      }
    }
  }
}

.freshmes-home {
  background-color: #F6F6F6;

  h2.freshmes-home-title {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #3A405B;
    margin: 0 0 40px 0;
  }
  h3.freshmes-home-title {
    font-family: $family-heading;
    font-size: 20px;
    line-height: 24px;
    color: #3A405B;
    font-weight: 700;
    margin: 0;
  }
  .container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }
  .container-medium {
    max-width: 792px;
    width: 100%;
    margin: 0 auto;
  }
  nav.freshmes-home-nav {
    margin-bottom: 30px;

    .freshmes-home-view-all {
      font-family: $family-heading;
      font-size: 15px;
      line-height: 22px;
      color: #A3B1C3;
      font-weight: 500;
      display: inline-block;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #EC008C;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .freshmes-home-dashboard {
    font-family: $family-heading;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #A3B1C3;
    display: inline-block;
    margin-top: 23px;
  }
  &.freshmes-home-master-your-juggle {
    padding-top: 30px;
    padding-bottom: 120px;

    .columns {
      margin-bottom: 0;
    }
  }
  &.freshmes-home-featured-members,
  &.freshmes-home-featured-stories,
  &.freshmes-home-featured-networks,
  &.freshmes-home-recent-members,
  &.freshmes-home-featured-offers,
  &.freshmes-home-featured-events {
    padding-bottom: 54px;
  }
  &.freshmes-home-featured-posts {
    padding-bottom: 45px;
  }
  &.freshmes-home-ads {
    padding-bottom: 50px;

    .freshmes-left-ad {
      position: relative;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      text-align: center;
      padding: 51px 20px 33px 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      height: 100%;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
        border: 1px solid #707070;
        z-index: 10;
      }
      .ad-exclusive {
        display: inline-block;
        border: 1px solid #FFFFFF;
        height: 22px;
        font-family: $family-sans-serif;
        font-weight: 500;
        font-size: 10px;
        text-transform: uppercase;
        color: #D6DEE6;
        line-height: 20px;
        letter-spacing: 0.025em;
        padding: 0 15px;
        margin-bottom: 20px;
      }
      .ad-group {
        position: relative;
        max-width: 415px;
        width: 100%;
        padding-left: 70px;
        word-break: break-word;
        z-index: 11;
      }
      .ad-title {
        font-family: $family-heading;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #FFF;
        margin-bottom: 10px;
      }
      .ad-description {
        font-family: $family-sans-serif;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #A3B1C3;
        margin-bottom: 10px;
      }
      .ad-button {
        .button {
          height: 40px;
          border: 1px solid #EC008C;
          color: #EC008C;
          font-family: $family-heading;
          font-size: 16px;
          font-weight: 600;
          background: transparent;
          transition: all 0.3s ease-in-out;

          &:hover {
            border-color: #FFF;
            color: #FFF;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      .ad-price {
        background-color: #FFFFFF;
        position: absolute;
        bottom: 0;
        right: 40%;
        z-index: 11;
        padding: 10px 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

        .price {
          font-family: $family-heading;
          font-size: 45px;
          line-height: 45px;
          font-weight: 700;
          color: #EC008C;
        }
        .below-price {
          font-family: $family-sans-serif;
          font-weight: 500;
          font-size: 13px;
          line-height: normal;
          color: #A3B1C3;
          text-align: right;
        }
      }
    }
    .freshmes-right-ad {
      position: relative;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      background-color: #000;
      padding: 36px 25px 30px 25px;
      height: 100%;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
        border: 1px solid #707070;
        z-index: 10;
      }
      .ad-group {
        position: relative;
        word-break: break-word;
        z-index: 11;
      }
      .ad-icon {
        color: #EC008C;
        font-size: 25px;
      }
      .ad-title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 10px 0 5px 0;
      }
      ul.ad-list {
        margin-bottom: 5px;
        li {
          display: block;
          font-family: $family-sans-serif;
          font-weight: 500;
          font-size: 13px;
          line-height: 20px;
          color: #A3B1C3;
        }
      }
      .ad-button {
        display: inline-block;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 13px;
        line-height: normal;
        color: #EC008C;
        transition: all 0.3s ease-in-out;
        
        &:hover {
          color: #FFF;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}

.freshmes-home.freshmes-home-featured-events {
  .freshmes-product__header__featured {
    top: 11px;
    left: 13px;
  }
}
.freshmes-home.freshmes-home-featured-posts {
  .freshmes-post__header__featured {
    top: 11px;
    left: 13px;
  }
}