.freshmes-members {
  padding: 170px 0 50px 0;

  &__header {
    font-size: 0;
    line-height: 0;
    margin-bottom: 27px;

    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $secondary;
      margin-bottom: 20px;
    }
    &__results {
      font-family: $family-heading;
      font-weight: 500;
      font-size: 20px;
      line-height: 35px;
      color: $other_1;
    }
    &__select-all {
      cursor: pointer;

      span {
        display: inline-block;
        vertical-align: middle;
      }
      &__text {
        font-family: $family-heading;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        color: $other_1;
        margin-right: 9px;
      }
      &__box {
        width: 18px;
        height: 18px;
        border: 1px solid $other_1;
        background-color: transparent;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
      }
      &.is-selected {
        .freshmes-members__header__select-all__box {
          background-color: $primary;
          border-color: $primary;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .button {
      background-color: $primary;
      border-color: $primary;
      height: 40px;
      font-family: $family-heading;
      font-size: 16px;
      color: $white;
      font-weight: 600;
      margin-bottom: 27px;

      &:hover,
      &:focus {
        background-color: $secondary;
        border-color: $secondary;
        color: $white;
      }
    }
  }
  &__footer {
    margin-top: 60px;

    .button {
      height: 48px;
      border-radius: 4px;
      border-color: $secondary;
      background-color: transparent;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 17px;
      color: $secondary;
      padding: 0 55px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $secondary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}