.freshmes-networks {
  padding: 170px 0 50px 0;

  &__header {
    font-size: 0;
    line-height: 0;
    margin-bottom: 27px;

    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $secondary;
      margin-bottom: 20px;
    }
    &__results {
      display: inline-block;
      vertical-align: middle;
      font-family: $family-heading;
      font-weight: 500;
      font-size: 20px;
      line-height: 35px;
      color: $other_1;
    }
    &__reset {
      display: inline-block;
      vertical-align: middle;
      font-weight: 500;
      font-size: 18px;
      line-height: 35px;
      color: $primary;
      margin-left: 25px;
    }
    &__select-all {
      cursor: pointer;

      span {
        display: inline-block;
        vertical-align: middle;
      }
      &__text {
        font-family: $family-heading;
        font-size: 15px;
        line-height: 22px;
        font-weight: 500;
        color: $other_1;
        margin-right: 9px;
      }
      &__box {
        width: 18px;
        height: 18px;
        border: 1px solid $other_1;
        background-color: transparent;
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
      }
      &.is-selected {
        .freshmes-networks__header__select-all__box {
          background-color: $primary;
          border-color: $primary;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .button {
      background-color: $primary;
      border-color: $primary;
      height: 40px;
      font-family: $family-heading;
      font-size: 16px;
      color: $white;
      font-weight: 600;
      margin-bottom: 27px;

      &:hover,
      &:focus {
        background-color: $secondary;
        border-color: $secondary;
        color: $white;
      }
    }
  }
  &__footer {
    margin-top: 60px;

    .button {
      height: 48px;
      border-radius: 4px;
      border-color: $secondary;
      background-color: transparent;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 17px;
      color: $secondary;
      padding: 0 55px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $secondary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.network-preview {
  padding: 80px 0;

  &__header {
    margin-bottom: 75px;

    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $secondary;
    }
  }
  &__content {
    &__box {
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    }
    &__box-side {
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    }
    .widget-network-preview {
      padding: 43px 72px 23px 72px;
      border-bottom: 1px solid #ECEAED;

      .column:last-child {
        border-left: 1px solid #D6DEE6;
      }
      &__top {
        margin-bottom: 5px;

        > div {
          display: inline-block;
          vertical-align: middle;
        }
        .rating-number {
          display: none;
        }
        &__category {
          font-family: $family-heading;
          font-weight: 600;
          font-size: 12px;
          line-height: 14px;
          color: $primary;
          margin-right: 15px;
          padding-right: 15px;
          border-right: 1px solid #D6DEE6;
          text-transform: uppercase;
        }
        .rating-stars {
          font-size: 14px;
          color: $other_1;
        }
      }
      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 45px;
        line-height: 45px;
        color: $secondary;

        i {
          color: $primary;
          font-size: 24px;
          vertical-align: middle;
        }
      }
      .attachment-full {
        max-width: 200px;
        margin: 0 auto;
      }
    }
    .benefits {
      font-size: 0;
      line-height: 0;
      text-align: center;

      &__header {
        padding: 16px 15px 14px 15px;
        font-family: $family-heading;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #6D7682;
        border-bottom: 1px solid #D6DEE6;
        margin-bottom: 23px;
      }
      &__content {
        padding: 0 50px;

        &__icon {
          font-size: 27px;
          margin-bottom: 11px;
          color: $primary;
        }
        &__title {
          margin-bottom: 11px;
          font-family: $family-heading;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $secondary;
        }
        &__list {
          text-align: left;
          font-size: 15px;
          font-weight: 500;
          line-height: 24px;
          color: $secondary;
        }
      }
      &__footer {
        padding: 16px 0 31px 0;

        .button {
          height: 50px;
          border-radius: 4px;
          border-color: $primary;
          background-color: $white;
          color: $primary;
          font-family: $family-heading;
          font-weight: 600;
          font-size: 16px;
          padding: 0 55px;

          &:hover,
          &:focus {
            background-color: $primary;
            color: $white;
            border-color: $primary;
          }
        }
      }
    }
    .freshmes-home-featured-networks {
      margin-top: 95px;
    }
  }
}
.network-preview {
  padding: 170px 0 50px 0;
}