.brand-shop {
  &__header {
    position: relative;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    padding: 215px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $secondary;
      opacity: 0.5;
      z-index: 1;
    }

    &__content {
      position: absolute;
      top: 50%;
      left: 30px;
      right: 30px;
      text-align: center;
      z-index: 2;
      transform: translateY(-50%);

      &__image {
        text-align: center;

        img {
          display: inline-block;
          width: 87px;
          height: 87px;
          border-radius: 50%;
          border: 1px solid $other_1;
        }
        &__text {
          font-size: 12px;
          line-height: 23px;
          color: #D6DEE6;
          font-weight: 700;
          margin-top: 18px;
          margin-bottom: 23px;
        }
      }
      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 65px;
        line-height: 40px;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: $white;
        text-transform: uppercase;
      }

      &__subtitle {
        font-family: $family-heading;
        font-weight: 500;
        font-size: 23px;
        line-height: 35px;
        color: $white;
      }
    }
  }
  &__content {
    padding: 50px 0;

    &__header {
      font-size: 0;
      line-height: 0;
      margin-bottom: 58px;

      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 25px;
      }
      &__meta {
        &__item {
          display: inline-block;
          vertical-align: middle;
          margin-right: 30px;
          font-family: $family-heading;
          font-weight: 500;
          font-size: 20px;
          line-height: 35px;
          color: $other_1;

          &:last-child {
            margin-right: 0;
          }
          .woocommerce-result-count {
            font-family: $family-heading;
            font-weight: 500;
            font-size: 20px;
            line-height: 35px;
            color: $other_1;
          }
          a {
            color: $other_1;
            transition: all 0.3s ease-in-out;

            span {
              display: inline-block;
              vertical-align: middle;
            }
            &__icon {
              margin-right: 8px;
              font-size: 20px;
              line-height: 35px;
            }
            &:hover,
            &:focus {
              color: $primary;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
      &__sort-by {
        margin-bottom: 36px;
        cursor: pointer;
        text-align: right;

        .woocommerce-ordering {
          display: inline-block;
          float: none;
          margin: 0;
          width: 50%;
        }
        .orderby {
          display: inline-block;
          width: calc(100% - 19px);
          font-family: $family-heading;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $secondary;
          border-radius: 0;
          background-color: transparent;
          appearance: none;
          outline: none;
          border: none;
          text-align: right;
          max-width: none;
          vertical-align: middle;
          direction: rtl;
          height: auto !important;
          border-image: initial;
          padding: 0;
        }
        i {
          font-size: 20px;
          line-height: 24px;
          color: $secondary;
          display: inline-block;
          margin-left: 6px;
        }
      }
      &__breadcrumbs {
        a,
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 15px;
          line-height: 22px;
          color: $other_1;
        }
        a {
          text-decoration: underline;
          transition: all 0.3s ease-in-out;

          &:hover,
          &:focus {
            color: $primary;
            transition: all 0.3s ease-in-out;
          }
        }
        &__separator {
          margin: 0 5px;
        }
      }
    }
    &__footer {
      margin-top: 90px;

      .button {
        height: 48px;
        border-radius: 4px;
        border-color: $secondary;
        background-color: transparent;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 17px;
        color: $secondary;
        padding: 0 55px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    &__products {
      position: relative;

      &__filters {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 340px;
        width: 100%;
        background-color: $white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
        padding: 43px 36px;
        z-index: 10;
        transform: translateX(-100vw);
        transition: all 0.3s ease-in-out;

        &--is-shown {
          transition: all 0.3s ease-in-out;
        }
        .widget {
          padding-bottom: 35px;
          margin-bottom: 35px;
          border-bottom: 1px solid #D6DEE6;

          &:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
          }
          .widget-title {
            font-family: $family-heading;
            font-weight: 600;
            font-size: 21px;
            line-height: 24px;
            color: $secondary;
            margin-bottom: 25px;
          }
          .price_slider_wrapper .ui-widget-content {
            background-color: #D6DEE6;
            border-radius: 0;
            height: 5px;
            margin-left: 0;
            margin-right: 0;
          }
          .ui-slider .ui-slider-range {
            background-color: $primary;
            border-radius: 0;
          }
          .ui-slider .ui-slider-handle {
            width: 16px;
            height: 16px;
            border: 2px solid $primary;
            background-color: $white;
          }
          .shop-categories__category {
            position: relative;
            margin-bottom: 20px;
            padding-right: 50px;

            &:last-child {
              margin-bottom: 0;
            }
            .field {
              margin: 0;

              .is-checkradio[type=radio] + label::before, .is-checkradio[type=radio] + label:before, .is-checkradio[type=checkbox] + label::before, .is-checkradio[type=checkbox] + label:before {
                border: 1px solid $other_2;
              }
              .is-checkradio[type=radio]:checked + label::before, .is-checkradio[type=radio]:checked + label:before, .is-checkradio[type=checkbox]:checked + label::before, .is-checkradio[type=checkbox]:checked + label:before {
                background-color: $secondary;
                border-color: $secondary;
              }
              .is-checkradio[type=checkbox] + label::after, .is-checkradio[type=checkbox] + label:after {
                color: $white;
                content: '\f00c';
                display: block;
                font-family: "Font Awesome 5 Pro";
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
                position: absolute;
                border: none;
                transform: none;
                top: 4px;
                left: 5px;
                width: auto;
                height: auto;
              }
            }
            &__count {
              position: absolute;
              top: 0;
              right: 0;
              background-color: #F6F6F6;
              border-radius: 8px;
              width: 42px;
              height: 24px;
              font-size: 15px;
              font-weight: 500;
              line-height: 24px;
              color: $other_1;
              text-align: center;
            }
          }
        }
        .product-filter-checkbox > li {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }
        .product-filter-checkbox > li > span {
          position: relative;

          input[type="checkbox"] {
            width: 0;
            height: 0;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            font-size: 0;
          }
          label {
            display: block;
            position: relative;
            font-family: $family-heading;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: #6D7682;
            cursor: pointer;
            padding-left: 36px;

            &:before {
              display: block !important;
              content: '' !important;
              position: absolute;
              width: 20px !important;
              height: 20px !important;
              border: 2px solid #C7D0DB;
              top: 0;
              left: 0;
              border-radius: 4px;
            }
          }
          input[type="checkbox"]:checked + label:before {
            background-color: $secondary;
            border-color: $secondary;
            content: '\f00c' !important;
            font-size: 12px !important;
            line-height: 20px;
            text-align: center;
            color: $white !important;
            font-family: "Font Awesome 5 Pro" !important;
          }
        }
      }
    }
  }
}