.brand-blog {
  &__header {
    position: relative;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    padding: 215px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $secondary;
      opacity: 0.5;
      z-index: 1;
    }
    &__content {
      position: absolute;
      top: 50%;
      left: 30px;
      right: 30px;
      text-align: center;
      z-index: 2;
      transform: translateY(-50%);

      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 65px;
        line-height: 40px;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
        color: $white;
        text-transform: uppercase;
      }
      &__subtitle {
        font-family: $family-heading;
        font-weight: 500;
        font-size: 23px;
        line-height: 35px;
        color: $white;
      }
    }
  }
  &__author {
    padding: 30px 0;
    background-color: $white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.10);
    font-size: 0;
    line-height: 0;

    &__image {
      width: 119px;

      img {
        border-radius: 50%;
      }
    }
    &__by {
      font-size: 15px;
      line-height: 20px;
      color: $other_1;
      margin-bottom: 10px;
    }
    &__name {
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      color: $other_1;
      margin-bottom: 5px;
    }
    &__description {
      font-size: 15px;
      line-height: 20px;
      color: $other_1;
      max-width: 420px;
    }
    .button {
      height: 50px;
      line-height: 50px;
      border-radius: 4px;
      border-color: $primary;
      background-color: $primary;
      color: $white;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 18px;
      padding: 0 55px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $secondary;
        border-color: $secondary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__content {
    padding: 52px 0 120px 0;
    background-color: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);

    &__header {
      font-size: 0;
      line-height: 0;
      margin-bottom: 48px;

      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 17px;
      }
      &__breadcrumbs {
        a,
        span {
          display: inline-block;
          vertical-align: middle;
          font-size: 15px;
          line-height: 22px;
          color: $other_1;
        }
        a {
          text-decoration: underline;
          transition: all 0.3s ease-in-out;

          &:hover,
          &:focus {
            color: $primary;
            transition: all 0.3s ease-in-out;
          }
        }
        &__separator {
          margin: 0 5px;
        }
      }
    }
    &__hero {
      margin-bottom: 63px;

      &__sidebar {
        .widget {
          margin-bottom: 20px;

          &:first-child {
            margin-bottom: 70px;
          }
          .widget-title {
            font-family: $family-heading;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: $secondary;
            padding-bottom: 19px;
            margin-bottom: 19px;
            border-bottom: 1px solid #D6DEE6;
          }
          ul {
            font-size: 0;
            line-height: 0;

            li {
              display: block;
              margin-bottom: 20px;
              font-size: 15px;
              line-height: 28px;
              color: $other_1;

              &:last-child {
                margin-bottom: 0;
              }
              a {
                color: $other_1;
                transition: all 0.3s ease-in-out;

                &:hover,
                &:focus {
                  color: $primary;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
      .freshmes-post {
        &__header {
          &__author {
            left: 37px;
          }
        }
        &__content {
          padding-left: 37px;
          padding-right: 37px;
          padding-bottom: 37px;

          &__title {
            font-size: 40px;
            line-height: 55px;
            max-width: 560px;
          }
          &__excerpt {
            font-size: 21px;
            line-height: 34px;
            max-width: 600px;
          }
        }
        &__footer {
          padding-left: 37px;
          padding-right: 37px;

          &__button {
            height: 50px;
            line-height: 50px;
            padding: 0 55px;
            font-size: 16px;
            font-weight: 600;
            color: #6D7682;
            border-color: $other_1;

            &:hover,
            &:focus {
              color: $white;
            }
          }
        }
      }
    }
    &__main {
      &__footer {
        margin-top: 64px;

        .button {
          height: 48px;
          border-radius: 4px;
          border-color: $secondary;
          background-color: transparent;
          font-family: $family-heading;
          font-weight: 600;
          font-size: 17px;
          color: $secondary;
          padding: 0 55px;
          transition: all 0.3s ease-in-out;

          &:hover,
          &:focus {
            background-color: $secondary;
            color: $white;
            transition: all 0.3s ease-in-out;
          }
        }
        &__subscribe {
          &__title {
            font-size: 24px;
            font-weight: 700;
            color: $secondary;
            line-height: 23px;
            margin-bottom: 8px;
          }
          &__subtitle {
            font-size: 15px;
            line-height: 20px;
            color: $other_1;
          }
          .button {
            height: 50px;
            line-height: 50px;
            border-radius: 4px;
            border-color: $primary;
            background-color: $primary;
            color: $white;
            font-family: $family-heading;
            font-weight: 600;
            font-size: 18px;
            padding: 0 55px;
            transition: all 0.3s ease-in-out;

            &:hover,
            &:focus {
              background-color: $secondary;
              border-color: $secondary;
              color: $white;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }
  }
  &__footer {
    &__share {
      padding: 50px;
      font-size: 0;
      line-height: 0;

      span,
      a {
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
        font-size: 35px;
        line-height: 35px;
      }
      a {
        color: #6D7682;
      }
      a:last-child {
        margin-right: 0;
      }
      span {
        font-family: $family-heading;
        font-size: 19px;
        color: $other_1;
      }
    }
  }
}
.brand-blog-single {
  &__header {
    position: relative;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 580px;
    height: 60vh;
  }
  &__breadcrumbs {
    margin-bottom: 35px;

    a,
    span {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      line-height: 22px;
      color: $other_1;
    }
    a {
      text-decoration: underline;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: $primary;
        transition: all 0.3s ease-in-out;
      }
    }
    &__separator {
      margin: 0 5px;
    }
  }
  &__main {
    background-color: $white;
    padding: 60px 0;

    &__post {
      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 45px;
        line-height: 55px;
        color: $secondary;
        margin-bottom: 15px !important;
      }
      &__content {
        font-size: 21px;
        font-weight: 500;
        line-height: 34px;
        color: #6D7682;

        h2,
        h3 {
          font-family: $family-heading;
          font-weight: 700;
          color: $secondary;
        }
        h2 {
          font-size: 24px;
          line-height: 34px;
        }
        h3 {
          font-size: 20px;
          line-height: 30px;
        }
        h2:not(:last-child),
        h3:not(:last-child),
        p:not(:last-child),
        dl:not(:last-child),
        ol:not(:last-child),
        ul:not(:last-child),
        blockquote:not(:last-child),
        pre:not(:last-child),
        table:not(:last-child) {
          margin-bottom: 30px;
        }
        figure {
          margin-left: 0;
          margin-right: 0;
          max-width: 100%;
        }
        blockquote {
          position: relative;
          background-color: $white;
          padding: 0;
          border: none;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -30px;
            width: 4px;
            height: 100%;
            background-color: $primary;
          }
          p {
            font-family: $family-heading;
            font-weight: 500;
            font-style: italic;
            font-size: 24px;
            line-height: 34px;
            color: $secondary;
          }
        }
      }
    }
    &__sidebar {
      margin-left: -30px;

      .widget {
        margin-bottom: 20px;

        &:first-child {
          margin-bottom: 70px;
        }
        .widget-title {
          font-family: $family-heading;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $secondary;
          padding-bottom: 19px;
          margin-bottom: 19px;
          border-bottom: 1px solid #D6DEE6;
        }
        ul {
          font-size: 0;
          line-height: 0;

          li {
            display: block;
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 28px;
            color: $other_1;

            &:last-child {
              margin-bottom: 0;
            }
            a {
              color: $other_1;
              transition: all 0.3s ease-in-out;

              &:hover,
              &:focus {
                color: $primary;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
      }
    }
  }
  &__author {
    padding: 30px 0;
    font-size: 0;
    line-height: 0;
    border-top: 1px solid #C7D0DB;
    border-bottom: 1px solid #C7D0DB;

    &__image {
      width: 119px;

      img {
        border-radius: 50%;
      }
    }
    &__by {
      font-size: 15px;
      line-height: 20px;
      color: $other_1;
      margin-bottom: 10px;
    }
    &__name {
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      color: $secondary;
      margin-bottom: 5px;
    }
    &__description {
      font-size: 15px;
      line-height: 20px;
      color: $other_1;
      max-width: 420px;
    }
    .button {
      height: 50px;
      line-height: 50px;
      border-radius: 4px;
      border-color: $primary;
      background-color: $white;
      color: $primary;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 18px;
      padding: 0 55px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__footer {
    padding: 70px 0;

    &__share {
      font-size: 0;
      line-height: 0;

      span,
      a {
        display: inline-block;
        vertical-align: middle;
        margin-right: 16px;
        font-size: 35px;
        line-height: 35px;
      }
      a {
        color: #6D7682;
      }
      a:last-child {
        margin-right: 0;
      }
      span {
        font-family: $family-heading;
        font-size: 19px;
        color: $other_1;
      }
    }
    &__post-tag {
      font-family: $family-heading;
      font-size: 15px;
      line-height: normal;
      font-weight: 600;
      color: $other_1;
      word-break: break-word;
    }
  }
  &__related-posts {
    border-bottom: 1px solid #C7D0DB;
    margin-bottom: 70px;
    padding-bottom: 58px;

    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $secondary;
      margin-bottom: 22px;
    }
  }
  &__comments {
    .comment-notes {
      display: none;
    }
  }
  .comments-area {
    &__title {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: $secondary;
      margin-bottom: 40px;
    }
    ol.comment-list {
      font-size: 0;
      line-height: 0;
      margin: 0 0 90px 0;
      padding: 0;
      list-style: none;
      max-width: 690px;
      width: 100%;

      li {
        display: block;
        border-bottom: 1px solid #C7D0DB;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:last-child {
          border-bottom: none;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        .comment-meta {
          position: relative;
        }
        .comment-author {
          position: relative;

          img {
            border-radius: 50%;
          }
          .fn {
            position: absolute;
            top: 12px;
            right: calc(-100% - 30px);
            font-family: $family-heading;
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: $secondary;
            font-style: normal;
          }
        }
        .comment-date {
          position: absolute;
          top: 55px;
          right: calc(-100% - 35px);
          font-weight: 500;
          font-size: 18px;
          line-height: 20px;
          color: #6D7682;
          font-style: normal;
        }
        .comment-content {
          padding-top: 90px;

          .comment-text {
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            color: $secondary;

            p:not(:last-child) {
              margin-bottom: 26px;
            }
          }
          .reply {
            margin-top: 12px;

            .comment-reply-link {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 18px;
              line-height: 23px;
              color: $primary;

              &:hover,
              &:focus {
                color: $secondary;
              }
            }
            .comment-edit-link {
              display: none;
            }
          }
        }
      }
    }
    .comment-respond {
      max-width: 690px;
      width: 100%;
      margin: 0 auto;
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
      padding: 22px 50px;
      transition: all 0.3s ease-in-out;

      .logged-in-as {
        display: none;
      }
      .comment-reply-title {
        display: block;
        font-family: $family-heading;
        font-weight: 700;
        font-size: 24px;
        line-height: 34px;
        color: $secondary;
        margin-bottom: 15px;

        #cancel-comment-reply-link {
          color: $primary;
          font-size: 16px;
          line-height: 34px;
        }
      }
      label {
        display: none;
      }
      .input,
      .textarea,
      input[type="url"] {
        display: block;
        box-shadow: none;
        border-color: $other_4;
        border-radius: 0;
        height: 49px;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: $secondary;
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 12px;
        width: 100%;

        &::placeholder {
          color: $other_1;
        }
      }
      .textarea {
        height: 230px;
      }
      .form-submit {
        text-align: right;
      }
      input#submit {
        font-family: $family-heading;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: $primary;
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: $secondary;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}