.brand-single-page {
  // Header Images
  &__header-images {
    font-size: 0;
    line-height: 0;

    .columns .column {
      padding: 0 2.5px !important;

      &:first-of-type {
        padding-left: 0 !important;
      }
      &:last-of-type {
        padding-right: 0 !important;
      }
    }
    &__column-image {
      height: 440px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &__carousel {
      font-size: 0;
      line-height: 0;
      margin: 0;
      padding: 0;
      margin: 0 -2.5px;

      &__item {
        height: 440px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &:not(.cloned) {
          margin: 0 2.5px;
        }
      }
      .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 100;
      }
      .slick-prev.slick-arrow {
        left: 10px;
      }
      .slick-next.slick-arrow {
        right: 10px;
      }
      .button.slick-arrow {
        padding: 0 10px;
        border: none;
        background-color: $primary;
        font-size: 30px;
        color: $white;
        height: 50px;
        transition: all 0.3s ease-in-out;
        outline: none;

        &:hover,
        &:focus {
          background-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }

  // Header
  &__header {
    background-color: $white;
    padding: 28px 0 18px 0;

    .container {
      max-width: 1193px;
      width: 100%;
      padding: 0 12px;
    }
    .columns:not(:last-child) {
      margin-bottom: 0;
    }
    &__categories {
      font-size: 0;
      line-height: 0;
      margin-bottom: 5px;

      &__category {
        display: inline-block;
        border: 1px solid $other_3;
        color: $other_2;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        text-transform: uppercase;
        padding: 10px 25px;
        margin: 0 5px 5px 0;
      }
    }
    &__title {
      font-family: $family-heading;
      font-weight: 600;
      font-size: 52px;
      line-height: normal;
      letter-spacing: 0.02em;
      color: $secondary;
      text-transform: uppercase;
      margin: 0 !important;

      i {
        display: inline-block;
        color: $primary;
        font-size: 24px;
        vertical-align: middle;
        position: relative;
        top: -3px;
      }
    }
    &__meta {
      font-size: 0;
      line-height: 0;

      &__item {
        display: inline-block;
        vertical-align: middle;
        margin: 0 30px 10px 0;

        &--rating {
          span {
            color: $other_1;
            display: inline-block;
            vertical-align: middle;

            &.rating-stars {
              i {
                font-size: 16px;
                line-height: 23px;
                color: $primary;
              }
            }
            &.rating-number {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 13px;
              line-height: 23px;
              margin-left: 5px;
              position: relative;
              top: 1px;
            }
          }
        }
        &--phone,
        &--email,
        &--website {
          span {
            display: inline-block;
            vertical-align: middle;

            &.meta-icon {
              font-size: 18px;
              color: $other_1;
              margin-right: 5px;
            }
            &.meta-label {
              font-family: $family-heading;
              font-weight: 500;
              font-size: 15px;
              line-height: 22px;
              color: $other_1;
            }
          }
        }
      }
    }
    &__logo-icon {
      position: relative;
      width: 124px;
      height: 124px;
      border-radius: 50%;
      border: 1px solid $other_3;
      background-color: #FFF;
      margin: 0 0 0 auto;

      img {
        width: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__sidebars {
    margin-top: 34px;

    .container {
      max-width: 1193px;
      width: 100%;
      padding: 0 12px;
    }
    .widget {
      background-color: $white;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
      margin-bottom: 35px;
    }
    &__title {
      font-family: $family-heading;
      font-size: 24px;
      line-height: 30px;
      font-weight: 700;
      color: $secondary;
      text-align: center;
      margin-bottom: 20px;

      &--has-tabs {
        margin-bottom: 9px;
      }
    }
    &__tabs {
      min-height: 185px;
    }
    &__accordion {
      &__item {
        border-bottom: 1px solid #ECEAED;
        padding-bottom: 20px;
        margin-bottom: 20px;

        &:last-child {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        &__title {
          color: $secondary;
          font-size: 18px;
          line-height: 30px;
          font-family: $family-sans-serif;
          font-weight: 500;
          cursor: pointer;
        }
        &__content {
          display: none;
        }
        &--is-active {
          .brand-single-page__sidebars__accordion__item__content {
            display: block;
          }
        }
      }
    }
    &__tabs {
      &__header {
        font-size: 0;
        line-height: 0;
        margin-bottom: 33px;
        text-align: center;

        &__item {
          display: inline-block;
          font-family: $family-heading;
          font-size: 15px;
          font-weight: 600;
          line-height: 22px;
          color: $other_1;
          padding-right: 6px;
          border-right: 1px solid $other_4;
          margin-right: 6px;

          &.is-show {
            color: $primary;
          }
          &:last-of-type {
            padding-right: 0;
            margin-right: 0;
            border-right: none;
          }
          &.is-show {
            color: $primary;
          }
          &:hover,
          &:focus {
            color: $secondary;
          }
        }
      }
      &__content {
        position: relative;
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
        color: #6D7682;
        display: none;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        padding-bottom: 25px;

        &.is-show {
          display: block;
        }
        p {
          margin-bottom: 30px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
    &__widget-info {
      padding: 54px 68px 44px 68px;
      border-bottom: 1px solid $other_4;

      &__profile-image {
        img {
          width: 126px;
          height: 126px;
          border-radius: 50%;
        }
      }
      &__profile-name {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 5px;
      }
      &__profile-job-title {
        font-family: $family-heading;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
        color: $primary;
        margin-bottom: 14px;
      }
      &__profile-connect {
        border-radius: 4px;
        background-color: $primary;
        border: none;
        color: $white;
        height: 48px;
        font-family: $family-heading;
        font-size: 17px;
        font-weight: 600;
        padding: 0 20px;
        width: 100%;
        text-align: center;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    &__widget-about {
      padding: 33px 68px;
      border-bottom: 1px solid $other_4;
    }
    &__widget-tags {
      padding: 41px 95px;
      border-bottom: 1px solid $other_4;

      &__tag {
        font-size: 0;
        line-height: 0;

        span {
          display: inline-block;
          vertical-align: middle;
        }
        &__icon {
          font-size: 18px;
          line-height: 22px;
          color: $other_1;
          margin-right: 9px;
        }
        &__label {
          font-size: 15px;
          line-height: 22px;
          font-weight: 500;
          color: #6D7682;
        }
      }
    }
    &__widget-actions {
      padding: 22px 95px;

      &__action {
        font-size: 0;
        line-height: 0;

        span {
          display: inline-block;
          vertical-align: middle;
        }
        &__icon {
          font-size: 25px;
          line-height: 25px;
          color: $primary;
          margin-right: 11px;
        }
        &__label {
          font-size: 16px;
          line-height: 25px;
          font-weight: 700;
          color: #6D7682;
        }
      }
    }
    &__widget-contacts {
      padding: 32px 25px;

      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 18px;
      }
      &__description {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #6D7682;
        margin-bottom: 18px;
      }
      a.button.is-primary {
        height: 50px;
        background-color: $primary;
        border-color: $primary;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        padding-left: 50px;
        padding-right: 50px;

        &:hover,
        &:focus {
          border-color: $secondary;
          background-color: $secondary;
          color: $white;
        }
      }
      .brand-single-page__sidebars__tabs__content {
        overflow: visible;
      }
      .brand-single-page__sidebars__tabs__content__view-all {
        display: inline-block;
        position: absolute;
        top: -94px;
        right: 0;
        font-family: $family-heading;
        font-size: 15px;
        line-height: 22px;
        color: $other_3;
        font-weight: 500;
      }
      .brand-single-page__sidebars__tabs__content__slider {
        max-width: 625px;
        width: 100%;
        margin: 0 auto;

        .slick-arrow {
          background-color: transparent;
          box-shadow: none;
          border: none;
          font-size: 50px;
          color: $other_3;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 100;
          cursor: pointer;
          padding: 0;
          margin: 0;

          &:focus {
            outline: none;
            border: none;
          }
        }
        .slick-prev.slick-arrow {
          left: -30px;
        }
        .slick-next.slick-arrow {
          right: -30px;
        }
        &__item {
          font-size: 0;
          line-height: 0;

          a {
            display: block;
          }
          &__image {
            display: block;
            position: relative;
            border-radius: 50%;
            border: 1px solid $other_3;
            width: 85px;
            height: 85px;
            margin: 0 auto;
            transition: all 0.3s ease-in-out;

            img {
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              width: 77px;
              height: 77px;
              border-radius: 50%;
              transform: translate(-50%, -50%);
            }
          }
          &__name {
            display: block;
            font-family: $family-heading;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: $other_1;
            margin-top: 10px;
            text-align: center;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            .brand-single-page__sidebars__tabs__content__slider__item__image {
              border-color: $primary;
              transition: all 0.3s ease-in-out;
            }
            .brand-single-page__sidebars__tabs__content__slider__item__name {
              color: $primary;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
      &--is-empty {
        text-align: center;
        padding: 47px 20px;
      }
    }
    &__widget-products {
      position: relative;
      padding: 34px 92px;

      &__icon {
        font-size: 68px;
        color: $other_3;
        margin-bottom: 65px;
      }
      &__title {
        font-family: $family-heading;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 32px;
      }
      &__description {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #6D7682;
        margin-bottom: 55px;
      }
      &__add-product {
        height: 50px;
        border-color: $primary;
        background-color: $primary;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        padding: 0 50px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          border-color: $secondary;
          background-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      &__view-all {
        font-family: $family-heading;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: $other_3;
        display: block;
        position: absolute;
        top: 40px;
        right: 47px;
      }
      &__load-more {
        margin-top: 27px;
        min-width: 200px;
        height: 48px;
        border-radius: 4px;
        border-color: $secondary;
        color: $secondary;
        font-family: $family-heading;
        font-size: 17px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      &--is-empty {
        padding: 110px 158px;

        .brand-single-page__sidebars__widget-products__title {
          margin-bottom: 28px;
        }
      }
    }
    &__widget-reviews {
      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 74px;

        &--has-view-all {
          margin-bottom: 7px;
        }
      }
      &__view-all {
        display: inline-block;
        font-family: $family-heading;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: $other_1;
        margin-bottom: 74px;
      }
      &__submit-review {
        height: 50px;
        background-color: transparent;
        border-color: $primary;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 16px;
        color: $primary;
        padding-left: 50px;
        padding-right: 50px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          border-color: $primary;
          background-color: $primary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      &__comments {
        margin-bottom: 80px;

        &__comment {
          font-size: 0;
          line-height: 0;

          &__author {
            max-width: 100px;
            width: 100%;

            &__image {
              margin-bottom: 15px;

              img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
            }
            &__name {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 16px;
              line-height: 23px;

              a {
                color: $primary;
              }
            }
          }
          &__title {
            font-family: $family-heading;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: $secondary;
            margin-bottom: 10px;
          }
          &__meta {
            margin-bottom: 10px;

            > div {
              display: inline-block;
              vertical-align: middle;
            }
            &__stars {
              font-size: 16px;
              line-height: 20px;
              color: $primary;
              margin-right: 10px;
            }
            &__date {
              font-weight: 500;
              font-size: 18px;
              line-height: 20px;
              color: #6D7682;
            }
          }
          &__content.content {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: $secondary;
          }
        }
      }
      &__form {
        max-width: 640px;
        width: 100%;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        backface-visibility: hidden;
        height: 0;
        transition: all 0.3s ease-in-out;

        &.is-show {
          opacity: 1;
          visibility: visible;
          backface-visibility: visible;
          height: auto;
          transition: all 0.3s ease-in-out;
        }
        &__button {
          height: 50px;
          background-color: transparent;
          border-color: $primary;
          font-family: $family-heading;
          font-weight: 600;
          font-size: 16px;
          color: $primary;
          padding-left: 50px;
          padding-right: 50px;
          transition: all 0.3s ease-in-out;

          &:hover,
          &:focus {
            border-color: $primary;
            background-color: $primary;
            color: $white;
            transition: all 0.3s ease-in-out;
          }
        }
        .field:not(:last-child) {
          margin-bottom: 32px;
        }
        .label {
          font-weight: 900;
          font-size: 15px;
          line-height: 22px;
          color: $secondary;

          &:not(:last-child) {
            margin-bottom: 10px;
          }
        }
        .input,
        .textarea {
          box-shadow: none;
          border-color: $other_4;
          border-radius: 0;
          height: 49px;
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: $secondary;
          padding-left: 12px;
          padding-right: 12px;

          &::placeholder {
            color: $other_1;
          }
        }
        .textarea {
          height: 150px;
        }
        &__form-rating {
          position: relative;

          i {
            font-size: 26px;
            line-height: 26px;
            color: $primary;
          }
          &__target {
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.075);
            border-radius: 3px;
            position: absolute;
            bottom: auto;
            color: #ababab;
            font-size: 15px;
            left: 159px;
            padding: 4px 26px;
            right: auto;
            top: 50%;
            transform: translateY(-50%);

            &:before,
            &:after {
              border: solid transparent;
              content: "";
              height: 0;
              position: absolute;
              right: 100%;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
            }
            &:before {
              border-right-color: #f6f6f6;
              border-width: 7px;
              z-index: 1;
            }
            &:after {
              border-right-color: rgba(0, 0, 0, 0.075);
              border-width: 8px;
            }
          }
        }
      }
    }
    &__widget-posts {
      &__title {
        font-family: $family-heading;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 9px;
      }
      &__post-empty {
        position: relative;
        background-color: $white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
        height: 100%;
        padding: 83px 38px 63px 38px;

        &--border {
          border: 1px solid #ECEAED;
          box-shadow: none;
        }
        &__title {
          font-family: $family-heading;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: $secondary;
          margin-bottom: 30px;
        }
        &__description {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #6D7682;
        }
        &__icon {
          color: $other_3;
          font-size: 69px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      &__add-post {
        margin-top: 67px;
        min-width: 200px;
        height: 48px;
        border-radius: 4px;
        border-color: $primary;
        color: $white;
        background-color: $primary;
        font-family: $family-heading;
        font-size: 17px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      &__load-more {
        margin-top: 27px;
        min-width: 200px;
        height: 48px;
        border-radius: 4px;
        background-color: transparent;
        border-color: $secondary;
        color: $secondary;
        font-family: $family-heading;
        font-size: 17px;
        font-weight: 600;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    &__widget-network,
    &__widget-offer {
      position: relative;
      padding: 34px 92px;

      &__icon {
        font-size: 68px;
        color: $other_3;
        margin-bottom: 55px;
      }
      &__title {
        font-family: $family-heading;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 32px;
      }
      &__description {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #6D7682;
        margin-bottom: 55px;
      }
      &__create-special-offer,
      &__create-network {
        height: 50px;
        border-color: $primary;
        background-color: $primary;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        padding: 0 50px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          border-color: $secondary;
          background-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      &--is-empty {
        padding: 86px 57px 40px 57px;

        .brand-single-page__sidebars__widget-offer__title {
          margin-bottom: 28px;
        }
      }
    }
    &__widget-event {
      position: relative;
      padding: 34px 92px;

      &__icon {
        font-size: 68px;
        color: $other_3;
        margin-bottom: 55px;
      }
      &__title {
        font-family: $family-heading;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 32px;
      }
      &__description {
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: #6D7682;
        margin-bottom: 55px;
      }
      &__add-events {
        height: 50px;
        border-color: $primary;
        background-color: $primary;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 16px;
        color: $white;
        padding: 0 50px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          border-color: $secondary;
          background-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      &--is-empty {
        padding: 86px 57px 40px 57px;

        .brand-single-page__sidebars__widget-event__title {
          margin-bottom: 28px;
        }
      }
    }
    &__widget-offer-filled {
      &__title {
        font-family: $family-heading;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #6D7682;
        padding: 17px 15px;
        text-align: center;
      }
    }
    &__widget-event-filled {
      &__title {
        font-family: $family-heading;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #6D7682;
        padding: 17px 15px;
        text-align: center;
      }
      &__header {
        text-align: center;
      }
      &__content {
        padding: 30px 30px 20px 30px;

        &__title {
          font-family: $family-heading;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          color: $secondary;
          margin-bottom: 10px;
        }
        &__price {
          font-family: $family-heading;
          font-weight: 600;
          font-size: 16px;
          line-height: 23px;
          color: #C7D0DB;
          margin-bottom: 10px;
        }
        &__description {
          font-weight: 500;
          font-size: 15px;
          line-height: 22px;
          color: #6D7682;
          margin-bottom: 13px;
        }
        &__persons {
          max-width: 100px;
          width: 100%;
          margin: 0 auto 0 auto;

          .field {
            .label {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 13px;
              line-height: 23px;
              color: #C7D0DB;
              margin-bottom: 5px;
            }
            .input {
              height: 40px;
              border: 1px solid #ECEAED;
              box-shadow: none;
              border-radius: 0;
              font-weight: 500;
              font-size: 15px;
              color: #6D7682;
              text-align: center;
            }
          }
        }
      }
      &__footer {
        padding: 0 20px 20px 20px;

        &__book-now {
          height: 50px;
          background-color: $white;
          border-color: $primary;
          color: $primary;
          font-family: $family-heading;
          font-weight: 600;
          font-size: 16px;
          border-radius: 4px;
          padding: 0 50px;
          transition: all 0.3s ease-in-out;

          &:hover,
          &:focus {
            background-color: $primary;
            color: $white;
            transition: all 0.3s ease-in-out;
          }
        }
      }
    }
    &__main {
      .widget:nth-of-type(1),
      .widget:nth-of-type(2),
      .widget:nth-of-type(3),
      .widget:nth-of-type(4) {
        position: relative;
        margin-bottom: 0;
      }
      .widget:nth-of-type(2) {
        z-index: 2;
      }
      .widget:nth-of-type(3) {
        z-index: 3;
      }
      .widget:nth-of-type(4) {
        z-index: 4;
        margin-bottom: 35px;
      }
    }
    &__sidebar {
      position: relative;
      top: -216px;
      padding-left: 22px;

      @media screen and (min-width: 769px) and (max-width: 1087px) {
        top: 0;
        padding-left: 12px;
      }
    }
    &__footer {
      .widget {
        background-color: transparent;
        box-shadow: none;
        padding-bottom: 53px;
        margin-bottom: 69px;
        border-bottom: 1px solid #707070;

        &:last-of-type {
          padding-bottom: 86px;
          margin-bottom: 0;
          border-bottom: none;
        }
      }
    }
  }
}