.build-your-brand {
  &__header {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    padding: 120px 0;
    text-align: center;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      background-color: #0D0D0D;
      opacity: 0.6;
    }
    .container {
      position: relative;
      z-index: 2;
    }
    &__title {
      font-family: $family-heading;
      font-size: 65px;
      line-height: normal;
      color: $white;
      letter-spacing: 0.02em;
      font-weight: 700;
    }
    &__tagline {
      font-family: $family-heading;
      font-size: 23px;
      line-height: 35px;
      font-weight: 500;
      color: $white;
    }
  }
  &__content {
    padding: 83px 12px;
    max-width: 816px;
    width: 100%;
    margin: 0 auto;

    &__form {
      &__title {
        text-align: center;
        font-family: $family-heading;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        color: $secondary;
        margin-bottom: 39px;
      }
      &__carousel {
        &__item {
          opacity: 0;
          visibility: hidden;
          backface-visibility: hidden;
          height: 0;
          transform: translateY(-100vh);
          transition: all 0.5s ease-in-out;

          &.is-show {
            opacity: 1;
            visibility: visible;
            backface-visibility: visible;
            height: auto;
            transform: translateY(0);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
  }
}