// WC Container
.woocommerce {
  background-color: $white;
  font-size: 16px;
  line-height: 24px;
  color: #6D7682;
  font-weight: 500;

  p {
    font-size: 16px;
    line-height: 24px;
    color: #6D7682;
    font-weight: 500;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: $primary;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $secondary;
      }
    }
  }
}

// WC Order
.woocommerce .woocommerce-order {
  max-width: 1152px;
  width: 100%;
  margin: 0 auto;

  p.order-again {
    display: none;
  }
}

// WC Order Details
.woocommerce ul.order_details {
  border-bottom: 1px solid #ECEAED;
  padding: 0 0 20px 0;
  margin: 0 0 40px 0;
  text-align: center;

  li {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;

    strong {
      display: block;
      font-size: 14px;
      line-height: 22px;
      font-family: $family-sans-serif;
      font-weight: 500;
    }
  }
}

// WC Notice
.woocommerce .woocommerce-notice,
.woocommerce-message {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $white;
  margin: 0 0 40px 0;
  padding: 20px 12px;
  border: none;
  background-color: $primary;

  &:before {
    display: none;
  }
  p {
    color: $white;
  }
  &--success {
    background-color: $primary;
  }
  &--error {
    background-color: $danger;
  }
}

// WC Customer Details / WC Order Details / WC Order Downloads
.woocommerce .woocommerce-customer-details,
.woocommerce .woocommerce-order-details,
.woocommerce .woocommerce-order-downloads {
  margin: 40px 0;

  > h2 {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: $secondary;
    margin-bottom: 10px;
  }
}

// WC Table
.woocommerce table.shop_table {
  border: 1px solid #ECEAED;
  border-radius: 0;

  td {
    border-color: #ECEAED;
  }
}

.woocommerce-order-onboarding {
  padding-bottom: 40px;
  border-bottom: 1px solid #ECEAED;
  margin-bottom: 20px;
}

a.added_to_cart.wc-forward {
  display: inline-flex;
  height: 40px;
  background-color: $secondary;
  border: 1px solid $secondary;
  color: $white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  padding: 0 50px;
  transition: all 0.3s ease-in-out;
  line-height: 40px;
  text-align: center;
  margin-top: 10px;
}

// Info
.woocommerce-info {
  border-top-color: $primary;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;

  &:before {
    color: $secondary;
  }
  a {
    color: $primary;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $secondary;
    }
  }
}

// Cart
.woocommerce .woocommerce-cart-page {
  padding: 63px 0;

  &--checkout {
    padding: 0;
  }
  &__title {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 65px;
    line-height: normal;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }
  a.remove {
    color: #D6DEE6 !important;
    font-size: 19px;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
  }
  table.shop_table {
    border: none;
    
    thead {
      display: none;
    }
    tbody {
      tr {
        &.coupon-row {
          .button[name="update_cart"] {
            background-color: transparent;
            border-color: transparent;
            font-family: $family-heading;
            font-weight: 700;
            font-size: 20px;
            color: $other_1;
            padding: 0 !important;
          }
          .coupon {
            position: relative;
            font-size: 0;
            line-height: 0;
            width: 50%;

            &:before {
              position: absolute;
              top: 50%;
              left: 20px;
              content: '\f53a';
              display: block;
              font-family: "Font Awesome 5 Pro";
              font-weight: 300;
              font-size: 21px;
              line-height: 21px;
              color: $secondary;
              transform: translateY(-50%);
            }
            #coupon_code {
              width: 100%;
              border: 1px dashed #D6DEE6;
              padding: 0 70px 0 62px;
              font-size: 18px;
              font-weight: 500;
              color: $other_1;
            }
            .button {
              padding: 0;
              position: absolute;
              top: 50%;
              right: 20px;
              font-size: 0;
              line-height: 0;
              width: 30px;
              height: 30px;
              transform: translateY(-50%);
              margin: 0;

              &:before {
                color: $white;
                content: '\f00c';
                display: block;
                font-family: "Font Awesome 5 Pro";
                font-weight: 700;
                font-size: 10px;
                line-height: 16px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        td {
          padding: 20px 0;
          border: none;
          border-bottom: 1px solid #D6DEE6;
          border-radius: 0;

          &.product-remove {
            padding-right: 30px;
          }
          &.product-thumbnail {
            img {
              width: 90px;
            }
          }
          &.product-name {
            padding-left: 30px;
            padding-right: 30px;

            > a {
              font-family: $family-heading;
              font-weight: 700;
              font-size: 24px;
              line-height: 30px;
              color: $secondary;
              transition: all 0.3s ease-in-out;

              &:hover,
              &:focus {
                color: $primary;
                transition: all 0.3s ease-in-out;
              }
            }
            .variation {
              display: none;
            }
          }
          &.product-price,
          &.product-subtotal {
            padding-right: 30px;
            font-family: $family-heading;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            color: #C7D0DB;
          }
          &.product-subtotal {
            color: $primary;
          }
          &.product-quantity {
            .qty {
              border: none;
              font-family: $family-heading;
              font-weight: 700;
              font-size: 19px;
              color: $secondary;
            }
          }
        }
        &:last-child {
          td {
            border: none;
          }
        }
      }
    }
  }
  &--checkout {
    table.shop_table {
      padding: 10px 30px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      background-color: $white;

      tbody {
        tr {
          &:last-child td {
            padding: 20px 0;
            border: none;
            border-bottom: 1px solid #D6DEE6;
          }
          td {
            &.product-image {
              width: 40px;

              img {
                width: 40px;
              }
            }
            &.product-name {
              padding: 0 15px;
              font-family: $family-heading;
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              color: $secondary;
              width: calc(100% - 100px - 40px);

              .product-quantity {
                font-weight: 700;
              }
            }
            &.product-total {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              color: $secondary;
              text-align: right;
              width: 100%;
            }
          }
        }
      }
      tfoot {
        tr {
          th,
          td {
            width: 50%;
            padding: 20px 0;
            border: none;
            border-bottom: 1px solid #D6DEE6;
          }
          td {
            text-align: right;
          }
          &:last-child {
            th,
            td {
              border-bottom: none;
            }
          }
          &.cart-subtotal {
            th {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              color: $secondary;
            }
            td {
              font-family: $family-heading;
              font-weight: 700;
              font-size: 20px;
              line-height: 30px;
              color: $secondary;
            }
          }
          &.cart-total {
            th {
              font-family: $family-heading;
              font-weight: 600;
              font-size: 23px;
              line-height: 24px;
              color: $secondary;
            }
            td {
              font-family: $family-heading;
              font-weight: 700;
              font-size: 28px;
              line-height: 30px;
              color: $secondary;
            }
          }
        }
      }
    }
  }
  .cart-collaterals .cart_totals {
    max-width: 384px;
    width: 100%;
    float: none;
    margin: 0 0 0 auto;
    background-color: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    padding: 30px 40px;

    > h2 {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: $secondary;
      margin-bottom: 37px;
      text-align: center;
    }
    .wc-proceed-to-checkout {
      padding: 0;
      margin: 0;

      .checkout-button {
        display: flex;
        height: 55px;
        line-height: 55px;
        background-color: $primary;
        border-color: $primary;
        color: $white;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 18px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    table.shop_table {
      tbody {
        tr {
          th,
          td {
            padding: 15px 0;
            border: none;
            border-bottom: 1px solid #D6DEE6;
            border-radius: 0;
            font-family: $family-heading;
            font-weight: 600;
            font-size: 18px;
            line-height: 24px;
            color: $secondary;
          }
          td {
            color: $other_1;
          }
          &.order-total {
            th,
            td {
              border: none;
            }
            td {
              font-size: 24px;
              line-height: 30px;
              color: $secondary;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// Checkout
.woocommerce .woocommerce-checkout-page {
  padding: 63px 0 0 0;
  background-color: #F6F6F6;

  form .form-row {
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;

    &.place-order {
      .button {
        width: 100%;
        display: flex;
        margin: 20px 0 0 0;
      }
    }
  }
  &__title {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 65px;
    line-height: normal;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 50px;
    text-align: center;
  }
  form {
    .form-row {
      padding: 0;
      margin: 0 0 15px 0;
    }
    h3 {
      font-family: $family-heading;
      font-weight: 700;
      font-size: 23px;
      line-height: 30px;
      color: $secondary;
      margin-bottom: 40px;
    }
  }
  label {
    display: block;
    font-size: 15px;
    line-height: 22px !important;
    color: $other_1;
    padding: 0;
    margin: 0 0 5px 0;
  }
  .input-text,
  textarea {
    box-shadow: none;
    border-color: #D6DEE6;
    border-radius: 0;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: $secondary;
    padding-left: 12px;
    padding-right: 12px;
    background-color: $white;

    &::placeholder {
      color: $other_1;
    }
  }
  textarea,
  textarea.input-text {
    height: 150px;
  }
  .select2-container {
    width: 100% !important;
  }
  .select2-container--default .select2-selection--single {
    height: 40px;
    border-radius: 0;
    border-color: #ECEAED;
    outline: none;
    box-shadow: none;
  }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px;
    padding: 0 32px 0 12px;
    font-size: 15px;
  }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: $secondary;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px;

    b {
      border-color: $other_1 transparent transparent transparent;
    }
  }
  .shop_table {
    //display: none !important;
  }
  .woocommerce-checkout-payment {
    margin-top: 20px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
    background-color: $white !important;
    border-radius: 0 !important;

    .payment_methods {
      border: none !important;
      padding: 0 !important;

      li {
        label {
          font-family: $family-heading;
          font-weight: 700;
          font-size: 23px;
          line-height: 30px;
          color: $secondary;
        }
        .payment_box {
          padding: 0 0 15px 0 !important;
          margin: 0 0 15px 0 !important;
          background-color: transparent !important;
          border: none !important;
          border-bottom: 1px solid #D6DEE6 !important;

          &:before {
            display: none !important;
          }
          .woocommerce-SavedPaymentMethods-saveNew {
            input#wc-stripe-new-payment-method {
              display: inline-block;
              height: 22px;
              position: relative;
              top: 4px;
              margin: 0 0 10px 0 !important;
            }
            label {
              display: inline-block;
              font-size: 15px;
              line-height: 22px !important;
              color: $other_1;
              padding: 0;
              margin: 0 0 5px 0;
            }
          }
          .wc-credit-card-form {
            label {
              display: block;
              font-size: 15px;
              line-height: 22px !important;
              color: $other_1;
              padding: 0;
              margin: 0 0 5px 0;
            }
            .wc-stripe-elements-field, .wc-stripe-iban-element-field {
              box-shadow: none;
              border-color: #D6DEE6;
              border-radius: 0;
              height: 30px;
              font-weight: 500;
              font-size: 14px;
              line-height: 22px;
              color: $secondary;
              padding-left: 12px;
              padding-right: 12px;
              background-color: $white;
            }
          }
        }
      }
    }
    #place_order {
      display: flex;
      height: 55px;
      line-height: 55px;
      background-color: $primary;
      border-color: $primary;
      color: $white;
      font-family: $family-heading;
      font-weight: 600;
      font-size: 18px;
      padding: 0 55px;
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        background-color: $secondary;
        border-color: $secondary;
        color: $white;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

// On Sale
.woocommerce span.onsale {
  background-color: $secondary;
  width: 100px;
  height: 30px;
  font-family: $family-heading;
  font-size: 15px;
  font-weight: 500;
  line-height: 30px;
  color: $white;
  border-radius: 0;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 22px;
  left: 10px;
  min-width: 0;
  min-height: 0;
}

// QTY
.quantity {
  float: none;
  width: 130px;
  display: inline-block;
  vertical-align: middle;

  .quantity__dec,
  .quantity__inc {
    width: 38px;
    height: 38px;
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .quantity__dec {
    background-image: url("assets/images/wc-minus.svg");
  }
  .quantity__inc {
    background-image: url("assets/images/wc-plus.svg");
  }
  .qty {
    display: inline-block;
    width: 30px !important;
    border: none;
    text-align: center;
    font-family: $family-heading;
    font-weight: 700;
    font-size: 19px;
    height: 38px;
    padding: 0;
    margin: 0 !important;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    vertical-align: middle;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

// Single Page
.single-product .woocommerce-breadcrumb {
  display: none;
}
.single-product .content-area {
  font-size: 0;
  line-height: 0;
}
.woocommerce .single-product-page {
  padding: 55px 0 0 0;

  div.product .product_title {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 35px;
    line-height: normal;
    margin-bottom: 15px;
    color: $secondary;
  }
  div.product p.price {
    font-family: $family-heading;
    font-weight: 700;
    font-size: 34px;
    line-height: normal;
    color: $primary;
    margin-bottom: 15px;
  }
  div.product .woocommerce-product-details__short-description {
    font-family: $family-sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #6D7682;
    margin-bottom: 45px;

    p {
      font-family: $family-sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 26px;
      color: #6D7682;
      margin-bottom: 26px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .product {
    .first-payment-date,
    .wcpv-sold-by-single,
    .product_meta {
      display: none;
    }
    &__breadcrumbs {
      margin-bottom: 40px;

      a,
      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        line-height: 22px;
        color: $other_1;
      }
      a {
        text-decoration: underline;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          color: $primary;
          transition: all 0.3s ease-in-out;
        }
      }
      &__separator {
        margin: 0 5px;
      }
    }
    .cart {
      margin-bottom: 0;
      font-size: 0;
      line-height: 0;

      #wc-stripe-payment-request-wrapper,
      #wc-stripe-payment-request-button-separator {
        display: none !important;
      }
      .quantity,
      .button {
        float: none;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }
      .quantity {
        margin-right: 65px;

        .quantity__dec,
        .quantity__inc {
          width: 38px;
          height: 38px;
          display: inline-block;
          vertical-align: middle;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          box-shadow: none;
          padding: 0;
          margin: 0;
          border: none;
          cursor: pointer;
          outline: none;
        }
        .quantity__dec {
          background-image: url("assets/images/wc-minus.svg");
        }
        .quantity__inc {
          background-image: url("assets/images/wc-plus.svg");
        }
        .qty {
          display: inline-block;
          width: 46px;
          border: none;
          text-align: center;
          font-family: $family-heading;
          font-weight: 700;
          font-size: 19px;
          height: 38px;
          padding: 0;
          margin: 0;
          appearance: none;
          outline: none;
          vertical-align: middle;
        }
      }
      .button {
        height: 55px;
        padding: 0 55px;
        margin: 0;
        border-color: $primary;
        background-color: $primary;
        color: $white;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 18px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
    }
    .images {
      float: none;
      width: 100%;

      .woocommerce-product-gallery__trigger {
        top: 10px;
        right: 10px;
      }
    }
    &__top {
      margin-bottom: 100px;
    }
    &__bottom {
      background-color: #F6F6F6;

      &__tabs {
        background-color: $white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.10);
        padding-bottom: 100px;

        &__title {
          font-family: $family-heading;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: $secondary;
          margin-bottom: 23px;
        }
        .woocommerce-tabs ul.tabs {
          padding: 0;
          margin: 0;
          text-align: center;
          display: block;
          font-size: 0;
          line-height: 0;
          margin-bottom: 45px;
          
          &:before {
            display: none;
          }
          li {
            border: 0;
            margin: 0;
            padding: 0;
            font-family: $family-heading;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            background-color: transparent;
            border-radius: 0;
            
            &:before {
              display: none;
            }
            &:after {
              width: 1px;
              height: 100%;
              background-color: #ECEAED;
              position: absolute;
              top: 0;
              right: -1px;
              bottom: 0;
              border: none;
              border-radius: 0;
            }
            a {
              color: $other_1;
              display: block;
              padding: 0 10px;
              text-decoration: none;
              text-shadow: none;
              border: none;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            &.active {
              background-color: transparent;

              a {
                color: $primary;
                text-shadow: none;
              }
            }
          }
        }
        .woocommerce-Tabs-panel {
          max-width: 640px !important;
          width: 100% !important;
          margin: 0 auto !important;
          
          > h2 {
            display: none;
          }
        }
        .woocommerce-Tabs-panel--description {
          font-weight: 500;
          font-size: 18px;
          line-height: 30px;
          color: #6D7682;

          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #6D7682;
            margin-bottom: 30px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .woocommerce-Tabs-panel--reviews {
          .woocommerce-Reviews-title,
          .comment-reply-title {
            display: none;
          }
          .woocommerce-noreviews {
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #6D7682;
            margin-bottom: 15px;
          }
          label {
            display: block;
            font-weight: 900;
            font-size: 15px;
            line-height: 22px;
            color: $secondary;

            &:not(:last-child) {
              margin-bottom: 10px;
            }
          }
          input,
          textarea {
            box-shadow: none;
            border-color: $other_4;
            border-radius: 0;
            height: 49px;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: $secondary;
            padding-left: 12px;
            padding-right: 12px;
            outline: none;

            &::placeholder {
              color: $other_1;
            }
          }
        }
      }
      .related {
        padding: 85px 0;

        &__title {
          font-family: $family-heading;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: $secondary;
          margin-bottom: 53px;
        }
      }
    }
  }
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
  padding: 0 55px;
}

.woocommerce nav.woocommerce-pagination {
  border-top: 1px solid $other_2;
  margin-top: 90px;
  padding-top: 90px;

  ul {
    border: none;
    margin: 0;

    li {
      text-align: center;
      margin: 0 10px;
      border: none;

      a,
      span {
        display: block;
        border: 1px solid $other_1;
        border-radius: 4px;
        width: 52px;
        height: 52px;
        font-family: $family-heading;
        font-weight: 600;
        font-size: 18px;
        line-height: 50px;
        padding: 0;
        margin: 0;
        color: $secondary;
        transition: all 0.3s ease-in-out;

        &:hover,
        &:focus {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
          transition: all 0.3s ease-in-out;
        }
      }
      span.current {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }
}