.notification.is-freshmes {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $white;
  background-color: $primary;
  margin: 0;
  padding: 20px 12px;

  &.notification--no-border-radius {
    border-radius: 0;
  }
}