.overlay {
  cursor: crosshair;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  background-color: #13182E;
  transition: all 0.3s ease-in-out;
  z-index: 100000;

  .is-active-overlay & {
    opacity: 0.8;
    visibility: visible;
    backface-visibility: visible;
    transition: all 0.3s ease-in-out;
  }
}
body.is-active-overlay {
  overflow: hidden;
}